---
published_date: 2015-04-05
categories:
  - "project-stories"

title: "Channel 5"
subtitle: "The ambitious and industry leading redevelopment of Channel5.com attracts more users watching more content, driving advertising revenue."
hero_image: "http://lorempixel.com/780/340/cats/7"
---

h1 = current_page.data.title
h2 = current_page.data.subtitle
img src="#{current_page.data.hero_image}" alt=""
