---
published_date: 2014-03-02 12:00 UTC
tags:
  - "project-stories"

title: "Contiki"
subtitle: "Powerful offshore partnership creates 47% increase in online trade bookings for Contiki Holidays."
hero_image: "http://lorempixel.com/780/340/cats/6"
---

h1 = current_page.data.title
h2 = current_page.data.subtitle
img src="#{current_page.data.hero_image}" alt=""
