---
published_date: 2014-11-15
categories:
  - "project-stories"

title: "Naturejobs"
subtitle: "Recruitment site revitalisation for major scientific publishing group. Close and early engagement with Nature Publishing Group stakeholders."
hero_image: "http://lorempixel.com/780/340/cats/4"
---

h1 = current_page.data.title
h2 = current_page.data.subtitle
img src="#{current_page.data.hero_image}" alt=""
