---
published_date: 2015-02-05 12:00 UTC
tags:
  - "project-stories"
  - "government"

title: "Petitions"
subtitle: "Government e-petitions application built from start to finish in 8-weeks using Agile, for £80,000 as part of the public sector focused technology collaboration."
hero_image: "http://lorempixel.com/780/340/cats/3"
---

h1 = current_page.data.title
h2 = current_page.data.subtitle
img src="#{current_page.data.hero_image}" alt=""
