---
published_date: 2015-01-05 12:00 UTC
tags:
  - project-stories
  - education

title: "Plymouth University"
subtitle: "Unboxed Consulting leads Agile overhaul of Plymouth University website."
hero_image: "http://lorempixel.com/780/340/cats/1"
---

h1 = current_page.data.title
h2 = current_page.data.subtitle
img src="#{current_page.data.hero_image}" alt=""
