---
date: 2015-07-04 12:00 UTC
tags:
  - project-stories
  - education
  - agile

title: "Plymouth University Gets Agile"
subtitle: "Embedding Agile methodology at a major university."
hero_image: "http://lorempixel.com/780/340/cats/2"
---

h1 = current_page.data.title
h2 = current_page.data.subtitle
img src="#{current_page.data.hero_image}" alt=""
