<footer class="component">
  <div class="footer-introduction">
    <h3 class="footer-introduction__title">
      <%= current_page.data.related.title %>
    </h3>
  </div>

  <% current_page.data.related.articles.each do |article| %>
    <a class="related-tile" href="<%= article.link %>">
      <div class="related-tile__type">
        <%= article.type %>
      </div>
      <div class="related-tile__title">
        <%= article.title %>
      </div>
    </a>
  <% end %>
</footer>
