---
title: "Project Story - Bookmetrix"

header:
  client: "Bookmetrix"
  introduction: "Exploring the impact of online publishing with Springer Nature and Bookmetrix"
  image: "/project-stories/bookmetrix/bookmetrix-header.png"
  image_description: "Bookmetrix header"
---

<%= partial 'project-stories/page_header' %>

<div class="container" data-header-waypoint>
  <%= partial 'project-stories/full_image', locals: { section: current_page.data.header } %>
</div>
