---
published_date: 2015-07-09 12:00 UTC
tags:
  - courses
  - agile

title: "Introduction to Agile"
course_content:
  - "Typical problems with software development projects"
  - "Philosophy of Agile"
  - "Benefits of Agile"
  - "Agile Manifesto"
  - "Introduction to key Agile Principles and Practices"
  - "Key learnings and examples from real life projects"
  - "Practical application of Agile"
  - "Team Roles - Product Owner, Scrum Master, Team"
  - "Meetings - Planning game, Retrospective, Release Planning"
  - "Burn-down charts/Reporting"
  - "User Story/Acceptance criteria writing"
  - "Estimation techniques (planning poker)"
  - "Task boards"
  - "The definition of done"
  - "The development lifecycle and technical practices - TDD, CI, Automated Build/Test, - Source Control and Automated Deployments"

---

h1 = current_page.data.title
ul
- current_page.data.course_content.each do |item|
  li = item
