// Breakpoints
$max-mobile-container: 480px;
$tablet-breakpoint: 660px;
$desktop-breakpoint: 960px;

// Colour palette
$blue: #5993c6;
$blue-strong: #55ACEE;
$purple: #8A2D8E;
$peach: #DD353C;
$hotpink: #DF1753;
$orange: #FDAD2B;
$yellow: #FED336;

$black: #000000;
$dark-gray: #313131;
$medium-gray: #767676;
$light-gray: #F7F7F7;
$white: #FFFFFF;

// Site
$page-content__background-color: $light-gray;
$site-header__brand-color: $purple;
$site-header__background-color: $white;
$site-header__underline-color: darken($light-gray, 10%);
$footer__background-color: $dark-gray;
$footer__text-color: darken($white, 5%);
$footer__newsletter-button-color: $dark-gray;
$footer__newsletter-text-color: darken($white, 5%);
$footer__newsletter-button-hover-color: darken($white, 20%);
$footer__newsletter-button-text-hover-color: lighten($dark-gray, 5%);
$footer-social-icons__border-color: darken($white, 20%);
$social-icon__twitter-color: $blue-strong;
$social-icon__linkedin-color: darken($blue, 20%);

// Site navigation
$site-navigation__link-color: $medium-gray;
$site-navigation__link-color--active: $purple;
$site-navigation__underline-color--active: $purple;

// Home page
$homepage-tile__text-color: $dark-gray;

// Events
$event__background-color: $white;
$event__subtitle-color: $dark-gray;
$event__detail-text-color: $medium-gray;
$event__cta-background-color: $purple;
$event__cta-hover-color: darken($event__cta-background-color, 5%);
$event__cta-text-color: $white;
$event__link-color: $purple;
$event__text-color: $black;
$event-content__title-color: $purple;
$event-contact__link-color: $purple;

// Project stories
$project-story-tile__background-color: $white;
$project-story-tile__hover-color: darken($project-story-tile__background-color, 6%);
$project-story-tile__border-color: darken($light-gray, 5%);
$project-story-tile__client-color: $dark-gray;
$project-story-tile__title-color: $medium-gray;

// Project story
$page-header__background-color: $white;
$page-header__text-color: $dark-gray;
$component__background-color: $white;
$text-tile__title-color: $purple;
$text-tile__text-color: $black;
$quote__background-color: lighten($light-gray, 1.2%);
$quote__text-color: lighten($black, 10%);
$quote__source-color: $purple;
$site-link-tile__background-color: $dark-gray;
$site-link-tile__hover-color: lighten($site-link-tile__background-color, 5%);
$site-link-tile__text-color: $white;
$site-link-tile__type-color: $white;
$link-tile__background-color: $white;
$link-tile__hover-color: darken($link-tile__background-color, 5%);
$link-tile__border-color: $light-gray;
$link-tile__text-color: $black;
$link-tile__type-color: $purple;
$project-team__background-color: $white;
$project-team__title-color: $purple;
$project-team__text-color: $black;
$footer-introduction__background-color: $light-gray;
$footer-introduction__text-color: $black;
$related-tile__background-color: $white;
$related-tile__border-color: $light-gray;
$related-tile__text-color: $black;
$related-tile__type-color: $purple;

// Project story - SH:24
$highlight__yellow-background-color: $yellow;
$highlight__yellow-text-color: $black;

// Project story - Contiki
$highlight__dark-gray-background-color: lighten($black, 20%);
$highlight__dark-gray-text-color: $white;

// Project story - Plymouth University
$highlight__blue-background-color: $blue;
$highlight__blue-text-color: $white;

// Project story - Plymouth University Gets Agile
$highlight__hotpink-background-color: $hotpink;
$highlight__hotpink-text-color: $white;

// Project story - Naturejobs
$highlight__peach-background-color: $peach;
$highlight__peach-text-color: $white;

// Blog listing
$blog-header__background-color: $white;
$blog-header__text-color: $dark-gray;
$blog-header__link-color: $purple;

$blog-tile__background-color: $white;
$blog-tile__border-color: darken($light-gray, 5%);
$blog-tile__hover-color: darken($blog-tile__background-color, 5%);
$blog-tile__title-color: $purple;
$blog-tile__text-color: $dark-gray;

// Blog article
$blog-article__background-color: $white;

$blog-tags__text-color: $medium-gray;
$blog-tags__underline-color: darken($light-gray, 10%);
$blog-tags__text-color--active: $purple;
$blog-tags__underline-color--active: $purple;

$blog-content__heading-color: $purple;
$blog-content__link-color: $purple;
$blog-content__blockquote-border-color: $purple;
$blog-content__code-background-color: lighten($light-gray, 1%);
$blog-content__code-text-color: darken($dark-gray, 10%);
$blog-content__table-background-color: $light-gray;
$blog-content__table-border-color: $light-gray;

$blog-footer__background-color: $light-gray;
$blog-social-icon__background-color: $medium-gray;

$blog-author__background-color: $white;
$blog-author__border-color: $light-gray;
$blog-author__link-color: $purple;

$blog-comments__background-color: $white;
$blog-comments__border-color: $light-gray;
$blog-comments__link-color: $purple;

$blog-related__title-color: $dark-gray;
$blog-related__tile-background-color: $white;
$blog-related__tile-hover-color: darken($blog-related__tile-background-color, 5%);
$blog-related__text-color: $dark-gray;
$blog-related__tag-background-color: lighten($purple, 55%);
$blog-related__tag-border-color: darken($light-gray, 5%);
$blog-related__tag-text-color: darken($purple, 10%);
