$mobile-font-breakpoint: 400px;
$max-mobile-container: 480px;
$tablet-breakpoint: 660px;
$max-tablet-container: 960px;

$blue: #29A5E7;
$dark-purple: #3B0737;
$medium-purple: #8F0B8A;
$light-purple: #9F2B9A;
$orange: #FDAD2B;
$yellow: #FED336;

$black: #000000;
$dark-gray: #3B3B3B;
$medium-gray: #767676;
$light-gray: #F7F7F7;
$white: #FFFFFF;

// Site
$body-background-color: $light-gray;
$header-background-color: $white;
$header-brand-color: $medium-purple;
$header-text-color: $dark-gray;
$footer-social-icons-background-color: $light-gray;
$social-icon-background-color: $medium-gray;

// Project story grid
$grid-tile-background-color: $white;
$grid-tile-border-color: $light-gray;
$grid-tile-type-color: $light-purple;
$grid-tile-text-color: $black;

// SH:24
$component-background-color: $white;
$bitesize-background-color: $yellow;
$bitesize-text-color: $black;
$tile-title-color: $light-purple;
$tile-text-color: $black;
$quote-background-color: lighten($light-gray, 1.2%);
$quote-text-color: lighten($black, 10%);
$quote-source-color: $medium-purple;
$site-link-background-color: $dark-gray;
$site-link-text-color: $white;
$site-link-type-color: $white;
$link-background-color: $white;
$link-text-color: $black;
$link-type-color: $light-purple;
$team-background-color: $white;
$footer-introduction-background-color: $light-gray;
$footer-introduction-text-color: $black;
$blue-tile-background-color: $blue;
$blue-tile-text-color: $white;
$blue-tile-type-color: $white;
$orange-tile-background-color: $orange;
$orange-tile-text-color: $white;
$orange-tile-type-color: $white;
$white-tile-background-color: $white;
$white-tile-text-color: $black;
$white-tile-type-color: $light-purple;

// Blog article

$article-header-border-color: $light-gray;
$article-published-date: $medium-gray;
$article-background-color: $white;
$article-link-text-color: $medium-purple;
$author-name-color: $medium-purple;
$author-section-background-color: $light-gray;
$author-section-border-color: $light-gray;
$author-container-background-color: $white;
$comments-section-border-color: $light-gray;
$comments-container-background-color: $white;
$disqus-anchor-color: $light-purple;
$tag-link-text-color: $medium-purple;
$tag-link-active-color: $light-purple;
$tag-link-border-color: darken($light-gray, 10%);
$tag-link-border-active-color: $light-purple;
$tag-paragraph-color: $medium-gray;
$related-article-header-color: lighten($dark-gray, 10%);
$related-article-tile-color: $white;
$related-article-link-color: $black;
$related-article-text-color: lighten($black, 5%);
$related-article-date-color: $dark-gray;
$related-article-tag-color: lighten($light-purple, 55%);
$related-article-tag-border: darken($light-gray, 5%);
$related-article-tag-link-color: darken($medium-purple, 10%);
$blockquote-background-color: lighten($light-gray, 5%);
$blockquote-white-background-color: $white;
