$mobile-font-breakpoint: 400px;
$max-mobile-container: 480px;
$tablet-breakpoint: 660px;
$max-tablet-container: 960px;

$blue: #29A5E7;
$dark-purple: #3B0737;
$light-purple: #9F2B9A;
$orange: #FDAD2B;
$yellow: #FED336;

$black: #000000;
$dark-gray: #3B3B3B;
$medium-gray: #767676;
$light-gray: #E0E0E0;
$white: #FFFFFF;

$body-background-color: $light-gray;
$header-background-color: $dark-purple;
$header-text-color: $white;
$component-background-color: $white;
$bitesize-background-color: $yellow;
$bitesize-text-color: $black;
$tile-title-color: $light-purple;
$tile-text-color: $black;
$quote-background-color: $light-gray;
$quote-text-color: $dark-gray;
$link-background-color: $white;
$link-text-color: $black;
$link-type-color: $light-purple;
$primary-link-background-color: $dark-purple;
$primary-link-text-color: $light-purple;
$primary-link-type-color: $white;
$team-background-color: $light-gray;
$team-badge-background-color: $light-purple;
$team-badge-text-color: $white;
$footer-introduction-background-color: $dark-purple;
$footer-introduction-text-color: $white;
$blue-tile-background-color: $blue;
$blue-tile-text-color: $white;
$blue-tile-type-color: $white;
$orange-tile-background-color: $orange;
$orange-tile-text-color: $white;
$orange-tile-type-color: $white;
$white-tile-background-color: $white;
$white-tile-text-color: $black;
$white-tile-type-color: $light-purple;
$footer-social-icons-background-color: $dark-gray;
$footer-social-icon-background-color: $medium-gray;
