// Breakpoints
$max-mobile-container: 480px;
$tablet-breakpoint: 660px;
$desktop-breakpoint: 960px;

// Colour palette
$purple: #8A2D8E;
$black: #000000;
$dark-gray: #313131;
$medium-gray: #767676;
$light-gray: #F7F7F7;
$white: #FFFFFF;
