// Breakpoints
$mobile-font-breakpoint: 400px;
$max-mobile-container: 480px;
$tablet-breakpoint: 660px;
$max-tablet-container: 960px;

// Colour palette
$blue: #5993c6;
$dark-purple: #3B0737;
$medium-purple: #8F0B8A;
$light-purple: #9F2B9A;
$peach: #DD353C;
$hotpink: #DF1753;
$orange: #FDAD2B;
$yellow: #FED336;

$black: #000000;
$dark-gray: #3B3B3B;
$medium-gray: #767676;
$light-gray: #F7F7F7;
$white: #FFFFFF;

// Site
$page-content__background-color: $light-gray;
$site-header__brand-color: $medium-purple;
$site-header__background-color: $white;
$social-icon__background-color: $medium-gray;

// Project story
$page-header__background-color: $white;
$page-header__text-color: $dark-gray;
$component__background-color: $white;
$text-tile__title-color: $light-purple;
$text-tile__text-color: $black;
$quote__background-color: lighten($light-gray, 1.2%);
$quote__text-color: lighten($black, 10%);
$quote__source-color: $medium-purple;
$site-link__background-color: $dark-gray;
$site-link__text-color: $white;
$site-link__type-color: $white;
$link-tile__background-color: $white;
$link-tile__border-color: $light-gray;
$link-tile__text-color: $black;
$link-tile__type-color: $light-purple;
$project-team__background-color: $white;
$project-team__title-color: $light-purple;
$project-team__text-color: $black;
$footer-social-icons__background-color: $light-gray;
$footer-introduction__background-color: $light-gray;
$footer-introduction__text-color: $black;
$related-tile__background-color: $white;
$related-tile__text-color: $black;
$related-tile__type-color: $light-purple;

// Project story - SH:24
$highlight__yellow-background-color: $yellow;
$highlight__yellow-text-color: $black;

// Project story - Contiki
$highlight__dark-gray-background-color: lighten($black, 20%);
$highlight__dark-gray-text-color: $white;

// Project story - Plymouth University
$highlight__blue-background-color: $blue;
$highlight__blue-text-color: $white;

// Project story - Plymouth University Gets Agile
$highlight__hotpink-background-color: $hotpink;
$highlight__hotpink-text-color: $white;

// Project story - Naturejobs
$highlight__peach-background-color: $peach;
$highlight__peach-text-color: $white;

// Blog listing
$blog-header__background-color: $white;
$blog-header__text-color: $dark-gray;
$blog-header__link-color: $medium-purple;

$blog-tile__border-color: darken($light-gray, 5%);
$blog-tile__hover-color: $light-gray;
$blog-tile__title-color: $light-purple;
$blog-tile__text-color: $dark-gray;

// Blog article
$blog-article__background-color: $white;

$blog-tags__text-color: $medium-gray;
$blog-tags__underline-color: darken($light-gray, 10%);
$blog-tags__text-color--active: $light-purple;
$blog-tags__underline-color--active: $light-purple;

$blog-content__heading-color: $light-purple;
$blog-content__link-color: $medium-purple;
$blog-content__blockquote-border-color: $medium-purple;
$blog-content__code-background-color: lighten($light-gray, 1%);
$blog-content__code-text-color: darken($dark-gray, 10%);
$blog-content__table-background-color: $light-gray;
$blog-content__table-border-color: $light-gray;

$blog-footer__background-color: $light-gray;

$blog-author__background-color: $white;
$blog-author__border-color: $light-gray;
$blog-author__author-color: $medium-purple;

$blog-comments__background-color: $white;
$blog-comments__border-color: $light-gray;
$blog-comments__link-color: $light-purple;

$blog-related__title-color: $dark-gray;
$blog-related__tile-background-color: $white;
$blog-related__tile-hover-color: darken($blog-related__tile-background-color, 5%);
$blog-related__text-color: $dark-gray;
$blog-related__tag-background-color: lighten($light-purple, 55%);
$blog-related__tag-border-color: darken($light-gray, 5%);
$blog-related__tag-text-color: darken($medium-purple, 10%);
