@import 'reset';
@import 'vendor/*';

$tablet: 580px;
$max-container: 1180px;

html {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

strong {
  font-weight: bold;
}

@import 'shared/*';
@import 'styles/*';
