@import 'reset';
@import 'vendor/*';
@import 'variables';

html {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  min-height: 100%;
  position: relative;
}

strong {
  font-weight: 400;
}

@import 'shared/*';
@import 'styles/*';
