@media screen and (min-width:0\0) {
  // To fix Flexbox overflow bug
  .grid-tile__content {
    max-width: calc(100% - 130px);
  }

  .related-tile__image {
    margin-top: 0;
  }
}

// Fix too extended links on mobile - IE doesn't break nested elements
.blog-content {
  p {
    -ms-word-wrap: break-word;
  }
}
