@media screen and (min-width:0\0) {
  // To fix Flexbox overflow bug
  .grid-tile__content {
    display: block;
    margin-left: -130px;
    padding-left: 150px;

    @media (min-width: 660px) {
      margin-left: 0;
      padding-left: 20px;
    }
  }

  .related-tile__image {
    margin-top: 0;
  }
}
