@import 'vendor/*';
@import 'variables';
@import 'shared/*';

@media screen and (min-width:0\0) {
  @include breakpoint($tablet-breakpoint) {
    // IE10 Does not fully support flexbox, .blog-author renders as 100% regardless of its container's width.
    // see http://degradingdisgracefully.com/ie11-ie10-flexbox-overflow-bug/ for further details (solution doesn't
    // work for a responsive design)
    .blog-author {
      display: block;
    }
  }
}

// Fix too extended links on mobile - IE doesn't break nested elements
.blog-content {
  p {
    -ms-word-wrap: break-word;
  }
}
