@import 'vendor/*';
@import 'variables';
@import 'shared/*';

@media screen and (min-width:0\0) {
  @include breakpoint($tablet-breakpoint) {
    // IE10 Does not fully support flexbox, .blog-author renders as 100% regardless of its container's width.
    // see http://degradingdisgracefully.com/ie11-ie10-flexbox-overflow-bug/ for further details (solution doesn't
    // work for a responsive design)
    .blog-author {
      display: block;
    }

    // IE10 Does not fully support flexbox, .blog-author renders as 100% regardless of its container's width.
    // see http://degradingdisgracefully.com/ie11-ie10-flexbox-overflow-bug/ for further details (solution doesn't
    // work for a responsive design)
    .event-speaker {
      display: block;
    }

    .event-speaker__details {
      @include breakpoint($tablet-breakpoint) {
        max-width: 100%;
      }
    }

    .event-speaker__text {
      @include breakpoint($tablet-breakpoint) {
        margin-top: 20px;
        padding-left: 0;
      }
    }
  }
}

// Fix too extended links on mobile - IE doesn't break nested elements
.article-content {
  p {
    -ms-word-wrap: break-word;
  }
}
