// To support full coloured div
.grid-large-tile {
  display: block;
}

// To support full coloured div
.grid-tile {
  display: block;
}

// Flexbox is not supported, float images to left instead
.grid-tile__image {
  float: left;
  margin-right: 16px;
}

// To support full coloured div
.link-tile {
  display: block;
}

// Flexbox is not supported, float images to left instead
.related-tile__image {
  float: left;
  margin-right: 16px;
}

// Incorrect border-box box-sizing with 16px padding
.related-tile__text-content {
  min-height: 98px;
}

// Place icons in the middle of its container
.footer-social_icons__icon {
  padding-top: 6px;
  height: 22px;
}

.footer-social-icons__image {
  padding-top: 6px;
}

// To support full coloured div
.footer-social-icons {
  display: block;
}
