@import 'variables';

//To set a blog article width to match a project story
.blog-article__container {
  margin: 0 auto;
  max-width: $max-mobile-container;
}

// Flexbox is not supported, falls back to displaying as block element therefore give space underneath
.event-speaker__image {
  margin-bottom: 20px;
}

// Flexbox is not supported to align item in vertical center
.event-location__pinned-address {
  margin-top: 20px;
}

// Flexbox is not supported to align this vertically central, float left instead
.event-location__pin {
  float: left;
}

// Flexbox is not supported to align this vertically central, float left instead
.event-info__detail-icon {
  float: left;
}
