@import 'variables';

// To support full coloured div
.grid-large-tile {
  display: block;
}

// To support full coloured div
.grid-tile {
  display: block;
}

// Flexbox is not supported, float images to left instead
.grid-tile__image {
  float: left;
  margin-right: 16px;
}

// To support full coloured div
.link-tile {
  display: block;
}

// Flexbox is not supported, float images to left instead
.related-tile__image {
  float: left;
  margin-right: 16px;
}

// Incorrect border-box box-sizing with 16px padding
.related-tile__text-content {
  min-height: 98px;
}

// Place icons in the middle of its container
.social_icons__icon {
  padding-top: 6px;
  height: 22px;
}

// To support full coloured div
.social-icons {
  display: block;
}

//To set a blog article width to match a project story
.blog-article__container {
  margin: 0 auto;
  max-width: $max-mobile-container;
}
