@import 'vendor/*';
@import 'variables';
@import 'shared/*';

// To support full coloured div
.link-tile {
  display: block;
}

// To support full coloured div
.social-icons {
  display: block;
  clear: left;
}

// Place icons in the middle of its container
.social_icons__icon {
  padding-top: 6px;
  height: 22px;
}

.social-icons__image {
  padding-top: 6px;
}

.header__case-study {
  margin-top: 60px;
}

.highlight__list-item {
  @include breakpoint($tablet-breakpoint) {
    padding-top: 20px;
  }
}

// Flexbox is not supported, use alternative layout
.event-info {
  overflow: auto;
}

.event-info__detail-container {
  float: right;
}

.event-location--tablet {
  height: 176px;
  float: left;
}

.event-location__pinned-address {
  position: absolute;
  bottom: 20px;
}

.event-speaker__image {
  margin-bottom: 20px;
}

.event-speaker__details {
  @include breakpoint($tablet-breakpoint) {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.event-speaker__text {
  @include breakpoint($tablet-breakpoint) {
    padding-left: 0;
  }
}
