@import 'vendor/*';
@import 'variables';
@import 'shared/*';

// To support full coloured div
.link-tile {
  display: block;
}

.header__case-study {
  margin-top: 60px;
}

.highlight__list-item {
  @include breakpoint($tablet-breakpoint) {
    padding-top: 20px;
  }
}

// Flexbox is not supported, use alternative layout
.event-info {
  overflow: auto;
}

.event-info__detail-container {
  float: right;
}

.event-location--tablet {
  height: 176px;
  float: left;
}

.event-location__pinned-address {
  position: absolute;
  bottom: 20px;
}

.event-speaker__image {
  margin-bottom: 20px;
}

.event-speaker__details {
  @include breakpoint($tablet-breakpoint) {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.event-speaker__text {
  @include breakpoint($tablet-breakpoint) {
    padding-left: 0;
  }
}

// Flexbox is not supported, fallback to block element
.event-info__detail {
  display: block;
}

// Flexbox is not supported to align this vertically central, float left instead
.event-location__pin {
  float: left;
}

// Flexbox is not supported to align this vertically central, float left instead
.event-info__detail-icon {
  float: left;
}
