<% roles_count ||= 1 %>
<section class="component">
  <div class="component__tile text-tile">
    <h2 class="text-tile__title">
      Send us your CV
    </h2>

    <p class="text-tile__paragraph--with-spacing">
    Steve is our people person. If <%= (roles_count > 1)? "one of these roles" : "this role" %> sounds of interest to you, he would love to hear from you.
    </p>

    <p class="text-tile__paragraph--with-spacing">
      Send your CV through to Steve at:
      <a href="mailto:iwantajob@unboxed.co">iwantajob@unboxed.co</a>
    </p>

    <p class="text-tile__paragraph--with-spacing">
      From there, he'll be in touch.
    </p>
    <p class="text-tile__paragraph--with-spacing">
      Good luck! (Sorry - no recruiters please, we do all our hiring in-house).
    </p>
  </div>

  <div class="component__tile image-tile">
    <%= image_tag '/jobs/images/ubxd-gardener.jpg', alt: 'Our gardener', class: "image-tile__image", srcset: retina_srcset('/jobs/images/ubxd-gardener.jpg') %>
  </div>
</section>
