<section class="component">
  <div class="component__tile text-tile">
    <h2 class="text-tile__title">
      Send us your CV
    </h2>

    <p class="text-tile__paragraph--with-spacing">
      While we currently have no open vacancies, we are always on the lookout for talented people. If you think Unboxed is a good fit for you, then we would love to hear from you.
    </p>

    <p class="text-tile__paragraph--with-spacing">
      Send your CV through to Matt at:
      <a href="mailto:iwantajob@unboxed.co">iwantajob@unboxed.co</a>
    </p>

    <a href="https://www.glassdoor.co.uk/Reviews/Unboxed-Reviews-E492120.htm" class="service__button">See our Glassdoor reviews</a>
  </div>

  <div class="component__tile image-tile">
    <%= image_tag '/jobs/images/ubxd-gardener.jpg', alt: 'Our gardener', class: "image-tile__image", srcset: retina_srcset('/jobs/images/ubxd-gardener.jpg') %>
  </div>
</section>
