<section class="component">
  <div class="component__tile text-tile">
    <h2 class="text-tile__title">
      Send us your CV and portfolio
    </h2>

    <p class="text-tile__paragraph--with-spacing">
      Boris is our person to talk to about design recruitment. If this role sounds of interest to you, he would love to hear from you.
    </p>

    <p class="text-tile__paragraph--with-spacing">
      Send your CV through to Boris at:
      <a href="mailto:iwantajob@unboxed.co">iwantajob@unboxed.co</a>
    </p>

    <p class="text-tile__paragraph--with-spacing">
      From there, he'll be in touch. Good luck! <br /> (sorry — no recruiters please, we do all our hiring in-house)
    </p>
    <a href="https://www.glassdoor.co.uk/Reviews/Unboxed-Reviews-E492120.htm" class="service__button">See our Glassdoor reviews</a>
  </div>

  <div class="component__tile image-tile">
    <%= image_tag '/jobs/images/ubxd-gardener-boris.jpg', alt: 'Boris', class: "image-tile__image", srcset: retina_srcset('/jobs/images/ubxd-gardener-boris.jpg') %>
  </div>
</section>