<% roles_count ||= 1 %>
<section class="component">
  <div class="component__tile text-tile">
    <h2 class="text-tile__title">
      Send us your CV
    </h2>

    <p class="text-tile__paragraph--with-spacing">
      Vicky is our people person. If <%= (roles_count > 1)? "one of these roles" : "this role" %> sounds of interest to you, she would love to hear from you.
    </p>

    <p class="text-tile__paragraph--with-spacing">
      Send your CV through to Vicky at:
      <a href="mailto:iwantajob@unboxed.co">iwantajob@unboxed.co</a>
    </p>

    <p class="text-tile__paragraph--with-spacing">
      From there, she'll be in touch. Good luck! (Sorry, no recruiters please — we do all our hiring in-house).
    </p>
    <a href="https://www.glassdoor.co.uk/Reviews/Unboxed-Reviews-E492120.htm" class="service__button">See our Glassdoor reviews</a>
  </div>

  <div class="component__tile image-tile">
    <%= image_tag '/jobs/images/ubxd-gardener.jpg', alt: 'Our gardener', class: "image-tile__image", srcset: retina_srcset('/jobs/images/ubxd-gardener.jpg') %>
  </div>
</section>
