<header class="page-header page-header--bottom-margin">
  <div class="job-page-header__container">
    <h1 class="job-page-header__introduction">
      <a href="/jobs"><%= current_page.data.header.title %></a>
      <span> / <%= current_page.data.header.subtitle %></span>
    </h1>
  </div>
</header>
