---
title: "Join Us - Senior Product (UX) Designer"

header:
  title: "Join us"
  subtitle: "Senior Product (UX) Designer"
  introduction: "Looking for a London-based Senior Product (UX) Designer who loves working with teams to turn designs into digital products that make a meaningful impact."
  image: "/jobs/images/twitter-card-image-design.jpg"

introduction:
  title: "This vacancy is no longer open for applications"


---

<%= partial 'jobs/job_header' %>

<div class="container" data-header-waypoint>
  <section class="component--full-page">
    <div class="text-tile--full-width">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.title %>
      </h2>
    </div>
  </section>

</div>
