.animated__list-item {
  -webkit-animation-duration: 1s;
}

.animated__list-item:nth-of-type(1) {
  -webkit-animation-delay: 0;
}

.animated__list-item:nth-of-type(2) {
  -webkit-animation-delay: .25s;
}

.animated__list-item:nth-of-type(3) {
  -webkit-animation-delay: .5s;
}

.animated__list-item:nth-of-type(4) {
  -webkit-animation-delay: .75s;
}

.animated__prototype-container {
  overflow: hidden;
}

.animated__prototype {
  -webkit-animation-delay: 1.5s;
}
