.block__yellow-background {
  background-color: #FED336;
}

.block__grey-background {
  background-color: #AFB0B5;
}

.block__full-image {
  object-fit: cover;
  display: block;
  height: 340px;
  width: 100%;
}
