.section__1-column,
.section__2-columns {
  max-width: $desktop;
  margin: 0 auto;
}

.section__2-columns {
  @include display-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-direction: column;
  -webkit-flex-direction: column;

  @include breakpoint($tablet) {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}

.section__2-columns--50-desktop-first,
.section__2-columns--50 {
  @include breakpoint($tablet) {
    width: 50%;
  }
}

.section__2-columns--50-desktop-first {
  order: 0;
  -webkit-order: 0;

  @include breakpoint($tablet) {
    order: -1;
    -webkit-order: -1;
  }
}
