<section class="component">
  <div class="text-tile--full-width">
    <% if section.title %>
      <h2 class="text-tile__title--narrow">
        <%= section.title %>
      </h2>
    <% end %>

    <% if section.content.is_a?(Array) %>
      <ul class="text-tile__list">
        <% section.content.each do |item| %>
          <li class="text-tile__list-item">
            <%= item %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-tile__paragraph">
        <%= section.content %>
      </p>
    <% end %>
  </div>
</section>
