<section class="component--full-page">
  <div class="text-tile--full-width">
    <% if locals[:title] %>
      <h2 class="text-tile__title--narrow">
        <%= locals[:title] %>
      </h2>
    <% end %>

   <% if locals[:intro] %>
      <p class="text-tile__paragraph" >
        <%= locals[:intro] %>
      </p>
    <% end %>

    <% if locals[:content].is_a?(Array) %>
      <ul class="text-tile__list">
        <% locals[:content].each do |item| %>
          <li class="text-tile__list-item">
            <%= item %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-tile__paragraph">
        <%= locals[:content] %>
      </p>
    <% end %>
  </div>
</section>
