<a href="https://www.youtube.com/watch?v=<%= locals[:youtube_id] %>" target="_blank" data-video>
  <%= partial 'shared/full_image', locals: locals %>
</a>

<script>
  var supports = {
    video: (function video () {
      var video = document.createElement('video');
      return (video.canPlayType && video.canPlayType('video/mp4').replace(/no/, ''))
    })(),
    flash: (function flash () {
      try {
        return Boolean(new ActiveXObject('ShockwaveFlash.ShockwaveFlash'));
      } catch (exception) {
        return ('undefined' != typeof navigator.mimeTypes['application/x-shockwave-flash']);
      }
    })()
  }

  if (supports.video || supports.flash) {
    var embed = '<div class="full-video"><iframe src="https://www.youtube.com/embed/<%= locals[:youtube_id] %>?rel=0" frameborder="0" allowfullscreen></iframe></div>';
    document.querySelector("[data-video] img").outerHTML = embed;
  }
</script>
