<section class="component">
  <div class="text-tile--full-width">
    <% if locals[:title] %>
      <h2 class="text-tile__title--narrow">
        <%= locals[:title] %>
      </h2>
    <% end %>

    <p class="text-tile__paragraph">
      <%= locals[:content] %>
    </p>

    <ul class="text-tile__list">
      <% locals[:list].each do |item| %>
        <li class="text-tile__list-item">
          <%= item %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
