<blockquote class="quote">
  <aside class="quote__right-section">
    <p class="quote__text--centered">
      <%= locals[:quote] %>
    </p>
    <p class="quote__source">
      <%= locals[:source] %>
    </p>
  </aside>

  <% if locals[:image] %>
    <% if locals[:image_proportion] && is_jpg?(locals[:image]) %>
      <%= image_tag locals[:image], alt: locals[:source], class: "quote__source-image #{locals[:image_proportion]}", srcset: retina_srcset(locals[:image]) %>
    <% else %>
      <%= image_tag locals[:image], alt: locals[:source], class: "quote__source-image caricature" %>
    <% end %>
  <% end %>
</blockquote>
