.component-icons {
  @include display-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 16px 32px 32px;
  max-width: 334px;
  margin: 0 auto;

  @include breakpoint(512px) {
    max-width: 100%;
    margin: 0;
  }
}

.component-icons__icon {
  @include display-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding-bottom: 16px;

  &:last-of-type {
    padding-bottom: 0;
  }

  @extend .animated;
  @extend .bounceIn;
  -webkit-animation-duration: 1s;

  &:nth-of-type(1) {
    -webkit-animation-delay: 0;
  }

  &:nth-of-type(2) {
    -webkit-animation-delay: .25s;
  }

  &:nth-of-type(3) {
    -webkit-animation-delay: .5s;
  }

  &:nth-of-type(4) {
    -webkit-animation-delay: .75s;
  }

  &:nth-of-type(5) {
    -webkit-animation-delay: 1s;
  }

  &:nth-of-type(6) {
    -webkit-animation-delay: 1.25s;
  }
}

.component-icons__icon-image {
  $width: 96px;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-basis: $width;
  -webkit-flex-basis: $width;
  padding: 0 8px 16px;
  margin: 0 auto;
  width: $width;

  @include breakpoint($tablet) {
    $width: 112px;
    flex-basis: $width;
    -webkit-flex-basis: $width;
    width: $width;
  }

  @include breakpoint(768px) {
    $width: 128px;
    flex-basis: $width;
    -webkit-flex-basis: $width;
    width: $width;
  }
}

.component-icons__icon-text {
  align-self: center;
  -webkit-align-self: center;
  line-height: 1.2;
  color: #414141;
  font-weight: 100;
  font-size: .9rem;
  text-align: center;
  width: 100px;
}
