.component-text {
  box-sizing: border-box;
  padding: 32px;

  @include breakpoint($tablet) {
    @include display-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
}

.component-text__title {
  color: #9F2D99;
  font-size: 1.7rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

.component-text__paragraph {
  color: #171717;
  font-weight: 100;
  line-height: 1.4;
}
