.activities {
  background-color: $white;
  padding: 30px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding: 30px $padding-h-main-desktop 20px;
  }
}

.activities__title {
  @include responsive-title;
  color: $purple;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 16px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 1.6vw;
  }

  @include breakpoint($desktop-breakpoint) {
    margin-bottom: 16px;
  }
}

.activities__grid {
  overflow: hidden;

  @include breakpoint ($tablet-breakpoint) {
    margin: 0 (-$gutter/2);
  }
}

.activities__activity {
  padding: 10px 0 20px;
  box-sizing: border-box;

  @include breakpoint ($tablet-breakpoint) {
    float: left;
    width: 33.33%;
    padding: 10px $gutter/2 20px;
    overflow: hidden;

    &:nth-child(3n+1) {
      clear: left;
    }
  }
}
