.white-background {
  background-color: #FFFFFF;
}

.grey-background {
  background-color: #AFB0B5;
}

.light-grey-background {
  background-color: #F0F0F0;
}

.yellow-background {
  background-color: #FED336;
}
