.blog-header {
  box-sizing: border-box;
  padding: 100px 30px 30px;

  @include breakpoint($max-tablet-container) {
    padding: 150px 30px 40px;
  }
}

.blog-header__breadcrumb {
  text-decoration: none;
  color: $article-breadcrumb-link-color;

  &:hover {
    text-decoration: underline;
  }
}

.blog-header__title {
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.2em;
  padding-bottom: 30px;

  @include breakpoint($max-tablet-container) {
    font-size: 2.2em;
    padding-bottom: 50px;
  }
}

.blog-header__author {
  color: $author-name-color;
  display: inline;
  letter-spacing: 0.02em;
  text-decoration: none;

  @include breakpoint($max-tablet-container) {
    font-size: 1.1em;
    padding-left: 3px;
  }
}

.blog-header__published-date {
  color: $article-published-date;
  font-size: 0.8em;
  padding-top: 10px;

  @include breakpoint($max-mobile-container) {
    display: inline;

    &:before {
      content: "-";
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.blog-header__tags {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
    padding-top: 40px;
  }
}

.blog-header__tag-link {
  @include breakpoint($tablet-breakpoint) {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;

    span {
      color: $tag-paragraph-color;
      line-height: 3em;
      text-decoration: none;
    }
  }

  @include breakpoint($max-tablet-container) {
    padding-left: 1.5em;
    padding-right: 1.5em;

    span {
      font-size: 1.1em;
    }
  }
}

.blog-header__tag-active {
  @include breakpoint($tablet-breakpoint) {
    span {
      color: $tag-link-active-color;
    }
  }
}

.blog-header__tag-border {
  @include breakpoint($tablet-breakpoint) {
    border-bottom: 2px solid;
    border-color: $tag-link-border-color;
    position: relative;
  }
}

.blog-header__tag-border-active {
  @include breakpoint($tablet-breakpoint) {
    border-bottom: 3px solid;
    border-color: $tag-link-border-active-color;
    position: relative;
    top: 2px;
  }
}
