.blog-grid-tags {
  @extend .container;
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
    box-sizing: border-box;
    padding: 0 ($padding-h-main-desktop - $gutter + 4px) 20px;
  }
}
