.blog-article {
  background-color: $blog-article__background-color;
  margin-top: 54px;

  @include breakpoint($tablet-breakpoint) {
    margin-top: 64px;
  }
}

.blog-article__container {
  @extend %container;
  box-sizing: border-box;
  padding: 0 20px 30px;
}
