.blog-medium-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 33%;
  }
}

.blog-medium-tile__container {
  box-sizing: border-box;
  background-color: $blog-tile__background-color;
  border: 1px solid $blog-tile__border-color;
  width: 100%;

  &:hover {
    background-color: $blog-tile__hover-color;

  }

  @include breakpoint($tablet-breakpoint) {
    min-height: 386px;
  }
}

.blog-medium-tile__top-content {
  padding: 14px 14px 0;

  @include breakpoint($tablet-breakpoint) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);

    min-height: 140px;
  }
}

.blog-medium-tile__title {
  color: $blog-tile__title-color;
  font-size: 1.14em;
  font-weight: lighter;
  line-height: 1.3em;
  margin-bottom: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.17vw;
    margin-bottom: 6px;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.3em;
  }
}

.blog-medium-tile__author {
  color: $blog-tile__text-color;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 6px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.335vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: .8em;
  }
}

.blog-medium-tile__date {
  color: $blog-tile__text-color;
  font-size: .8em;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.335vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: .8em;
  }
}

.blog-medium-tile__article-body {
  color: $blog-tile__text-color;
  font-size: .95em;
  font-weight: lighter;
  line-height: 1.3em;
  margin: 14px;
  padding-top: 8px;
  word-wrap: break-word;

  @include breakpoint($tablet-breakpoint) {
    border-top: 1px solid $blog-tile__border-color;
    font-size: 1.7vw;
    padding-top: 14px;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.02em;
  }
}

.blog-medium-tile__article-image {
  box-sizing: border-box;
  display: block;
  height: 213px;
  object-fit: cover;
  padding: 4px;
  width: 100%;
}
