.blog-small-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 33%;
  }
}

.blog-small-tile__content {
  box-sizing: border-box;
  background-color: $white;
  padding: 14px 14px 14px;
  border: 1px solid $blog-tile__border-color;
  width: 100%;

  &:hover {
    background-color: $blog-tile__hover-color;
  }

  @include breakpoint($tablet-breakpoint) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);

    min-height: 190px;
  }
}

.blog-small-tile__title {
  color: $blog-tile__text-color;
  font-size: 1.14em;
  font-weight: lighter;
  line-height: 1.3em;
  margin-bottom: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.17vw;
    margin-bottom: 6px;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.3em;
  }
}

.blog-small-tile__author {
  color: $blog-tile__text-color;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 6px;
}

.blog-small-tile__date {
  color: $blog-tile__text-color;
  font-size: .8em;
}
