.blog-medium-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    display: inline-block;
    width: 33%;
    margin-bottom: 0px;
    padding-right: 0px;
  }
}

.blog-medium-tile__container {
  box-sizing: border-box;
  background-color: $white;
  border: 1px solid darken($light-gray, 5%);
  width: 100%;

  &:hover {
    background-color: mix($white, $light-gray);
  }

  @include breakpoint($tablet-breakpoint) {
    min-height: 386px;
  }
}

.blog-medium-tile__top-content {
  padding: 14px 14px 0;

  @include breakpoint($tablet-breakpoint) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);

    height: 140px;
  }
}

.blog-medium-tile__title {
  @include responsive-text;
  color: $purple;
  font-weight: 300;
  line-height: 1.3em;
  margin-bottom: 20px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 6px;
  }
}

.blog-medium-tile__author {
  color: $dark-gray;
  font-size: .8em;
  font-weight: 600;
  margin-bottom: 6px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.335vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: .8em;
  }
}

.blog-medium-tile__date {
  color: $dark-gray;
  font-size: .8em;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.335vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: .8em;
  }
}

.blog-medium-tile__article-body {
  color: $dark-gray;
  font-size: .95em;
  font-weight: 300;
  line-height: 1.3em;
  margin: 14px 14px 0;
  padding-top: 8px;
  word-wrap: break-word;

  @include breakpoint($tablet-breakpoint) {
    border-top: 1px solid darken($light-gray, 5%);
    font-size: 1.7vw;
    padding-top: 14px;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.02em;
  }
}
