.blog-article {
  background-color: $article-background-color;
}

.blog-article__container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $tablet-breakpoint;

  @include breakpoint($tablet-breakpoint) {
    max-width: $max-tablet-container;
    padding-bottom: 30px;
  }

  @include breakpoint($max-tablet-container) {
    max-width: $max-tablet-container;
  }
}

.blog-content {
  box-sizing: border-box;
  padding: 0 30px 10px;

  p,
  ul,
  ol,
  blockquote {
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 20px;

    @include breakpoint($max-tablet-container) {
      font-size: 1.2em;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 25px;

    @include breakpoint($max-mobile-container) {
      padding-left: 30px;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;

    @include breakpoint($max-mobile-container) {
      padding-left: 24px;
    }
  }

  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 1.6;
    padding-bottom: 20px;

    @include breakpoint($max-tablet-container) {
      font-size: 1.2em;
    }
  }

  blockquote {
    border-left: 1px solid $article-blockquote-color;
    padding-left: 16px;
  }

  a {
    color: $article-link-text-color;
    font-weight: 400;
    text-decoration: none;
    word-wrap: break-word;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-weight: 400;
  }

  em {
    font-style: italic;
  }

  img {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  h1 {
    color: $heading-brand-color;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 10px;

    @include breakpoint($max-mobile-container) {
      font-size: 1.5em;
      line-height: 1.5;
      padding-top: 20px;
    }
  }

  h2 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 20px;

    @include breakpoint($max-mobile-container) {
      font-size: 1.3em;
    }
  }

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 20px;
  }

  iframe {
    width: 100%;
    margin-bottom: 26px;
  }
}
