.blog-header {
  padding: 40px 0 20px;
}

.blog-header__container {
  @extend .container;
  padding: 0 20px;
  box-sizing: border-box;
}

.blog-header__title {
  color: $blog-header__text-color;
  font-size: 1.95em;
  font-weight: 200;
  line-height: 1.2;
  text-transform: lowercase;

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.4em;
  }
}

.blog-header__breadcrumb {
  text-decoration: none;
  color: $blog-header__link-color;

  &:hover {
    text-decoration: underline;
  }
}

.blog-header__subtitle {
  padding-top: 20px;
  line-height: 1.3;
  text-transform: lowercase;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.1em;
    padding-left: 4px;
    padding-top: 40px;
  }
}

.blog-header__author {
  color: $blog-header__link-color;
  display: inline;
  text-decoration: none;
}

.blog-header__author--linked {
  @extend .blog-header__author;

  &:hover {
    text-decoration: underline;
  }
}

.blog-header__published-date {
  color: $blog-header__text-color;
  display: inline;

  @include breakpoint($tablet-breakpoint) {
    &:before {
      content: "-";
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
