.blog-large-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 66%;
  }
}

.blog-large-tile__container {
  box-sizing: border-box;
  background-color: $blog-tile__background-color;
  border: 1px solid $blog-tile__border-color;
  width: 100%;

  &:hover {
    background-color: $blog-tile__hover-color;

    .blog-large-tile__article-image-container:before {
      border-color: transparent transparent transparent $blog-tile__hover-color;
    }
  }

  @include breakpoint($tablet-breakpoint) {
    min-height: 386px;
  }
}

.blog-large-tile__top-content {
  padding: 14px;

  @include breakpoint($tablet-breakpoint) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);

    min-height: 140px;
  }
}

.blog-large-tile__title {
  color: $blog-tile__title-color;
  font-size: 1.14em;
  font-weight: lighter;
  line-height: 1.3em;
  margin-bottom: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.17vw;
    margin-bottom: 6px;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.3em;
  }
}

.blog-large-tile__author {
  color: $blog-tile__text-color;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 6px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.335vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: .8em;
  }
}

.blog-large-tile__date {
  color: $blog-tile__text-color;
  font-size: .8em;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.335vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: .8em;
  }
}

.blog-large-tile__article-body {
  color: $blog-tile__text-color;
  font-size: .95em;
  font-weight: lighter;
  line-height: 1.3em;
  padding: 14px;
  word-wrap: break-word;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.7vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.02em;
  }
}

.blog-large-tile__article-image-container {
  box-sizing: border-box;
  padding: 8px 8px 0;

  @include breakpoint($tablet-breakpoint) {
    float: right;
    margin-left: 14px;
    padding: 8px;
    position: relative;
    width: 50%;

    &:before {
      border-color: transparent transparent transparent $white;
      border-style: solid;
      border-width: 18px 0 18px 24px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      top: 32px;
      left: 7px;
      width: 0;
    }
  }
}

.blog-large-tile__article-image {
  display: block;
  height: 130px;
  object-fit: cover;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    height: 368px;
  }
}
