.blog-comments {
  background-color: $blog-comments__background-color;
  border-top: 3px solid $blog-comments__border-color;
  padding: 30px 20px;

  a {
    color: $blog-comments__link-color;
  }

  @include breakpoint($desktop-breakpoint) {
    margin: 0 auto;
    max-width: $desktop-breakpoint;
    padding: 0;
  }
}

.blog-comments__container {
  @include breakpoint($desktop-breakpoint) {
    padding: 30px;
  }
}
