.blog-comments {
  background-color: $white;
  border-top: 3px solid $light-gray;
  padding: 30px 20px;

  a {
    color: $purple;
  }

  @include breakpoint($desktop-breakpoint) {
    margin: 0 auto;
    max-width: $desktop-breakpoint;
    padding: 0;
  }
}

.blog-comments__container {
  @include breakpoint($desktop-breakpoint) {
    padding: 30px;
  }
}
