.blog-tags__container {
  @extend .container;
  border-bottom: 2px solid darken($light-gray, 10%);
}

.blog-tags__tag {
  border-bottom: 3px solid transparent;
  color: $medium-gray;
  display: inline-block;
  font-size: .9em;
  padding: 1em 20px;
  text-decoration: none;
  text-transform: lowercase;

  &:hover {
    border-bottom: 3px solid $purple;
    color: $purple;
  }
}

.blog-tags__tag--active {
  border-bottom: 3px solid $purple;
  color: $purple;
}
