.blog-related__header {
  color: $blog-related__title-color;
  font-size: 1.8em;
  letter-spacing: 0.02em;
  padding: 30px 20px;
}

.blog-related__tile {
  background-color: $blog-related__tile-background-color;
  box-sizing: border-box;
  display: block;
  margin-top: 3px;
  min-height: 130px;
  padding: 30px 20px;
  text-decoration: none;

  &:hover {
    background-color: $blog-related__tile-hover-color;
  }
}

.blog-related__text {
  color: $blog-related__text-color;
  font-weight: 100;
}

.blog-related__date {
  color: $blog-related__text-color;
  font-size: 0.8em;
  padding-top: 10px;
  padding-left: 3px;

  @include breakpoint($desktop-breakpoint) {
    display: inline;
  }
}

.blog-related__title {
  color: $blog-related__text-color;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.3;
  text-decoration: none;
  padding-top: 20px;
}

.blog-related__tag {
  display: inline-block;

  @include breakpoint($desktop-breakpoint) {
    &:after {
      color: $blog-related__text-color;
      content: "-";
      padding-left: 3px;
    }
  }
}

.blog-related__tag-link {
  background-color: $blog-related__tag-background-color;
  border: 1px solid $blog-related__tag-border-color;
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  span {
    color: $blog-related__tag-text-color;
    font-size: 0.6em;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
  }
}
