.button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
