.call-to-action-section {
  height: 260px;
  margin-top: 45px;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: image-url("homepage/unboxed_web_cta.jpg");
  background-size: cover;

  .call-to-action-section__title {
    color: $purple;
    font-size: 1.5em;
    margin-bottom: 30px;
  }

  .service__button {
    color: $white;
    background-color: $purple;
  }
}
