.component {
  @include clearfix;
  background-color: $white;
}

.component--spinouts {
  @extend .component;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 25px;
  }

  @include breakpoint($desktop-breakpoint) {
    margin-bottom: 50px;
  }
}

.component__tile {
  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 50%;
  }
}

.component__tile--title {
  box-sizing: border-box;
  padding: 30px 20px 0;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 0;
    padding-top: 50px;
  }
}
