.container {
  margin: 0 auto;
  max-width: $max-mobile-container;

  @include breakpoint($tablet-breakpoint) {
    max-width: $desktop-breakpoint;
  }
}

.container--blog {
  @extend .container;
  box-sizing: border-box;
  overflow: auto;
  padding-left: 6px;
}

.container--project-stories {
  @extend .container;
  box-sizing: border-box;
  padding-top: 6px;
  padding-left: 6px;

  @include breakpoint($tablet-breakpoint) {
    padding-top: 60px;
    overflow: hidden;
  }
}

