%container {
  margin: 0 auto;
  max-width: $max-mobile-container;

  @include breakpoint($tablet-breakpoint) {
    max-width: $desktop-breakpoint;
  }
}

.container {
  @extend %container;
}

.container--blog {
  @extend .container;
  box-sizing: border-box;
  padding-left: 6px;
}
