.contact-page-tile {
  box-sizing: border-box;
  color: $dark-gray;
  display: block;
  font-weight: 300;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;
}

.contact-page-tile__container {
  background-color: $white;
  box-sizing: border-box;
  border: 1px solid darken($light-gray, 5%);
  min-height: 480px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    min-height: 381px;
  }
}

.contact-page-tile__content {
  box-sizing: border-box;
  padding: 20px 14px 6px;

  @include breakpoint($tablet-breakpoint) {
    width: 50%;
  }
}

.contact-page-tile__image-container iframe {
  box-sizing: border-box;
  height: 200px;
  padding: 8px;

  @include breakpoint($tablet-breakpoint) {
    float: right;
    height: 379px;
    width: 50%;
  }
}

.contact-page-tile__title {
  @include responsive-title;
  color: $purple;
  font-weight: 300;
  text-transform: lowercase;
  padding-bottom: 15px;
}

.contact-page-tile__address {
  line-height: 1.4em;
}

.contact-page-tile__phone-number {
  padding: 20px 0 15px;
  font-weight: 300;

  a {
    color: $dark-gray;
    text-decoration: none;
  }
}

.contact-page-tile__email {
  padding-bottom: 15px;
  font-weight: 300;

  a {
    color: $dark-gray;
    text-decoration: none;
  }
}

.contact-page-tile__map-link {
  padding-bottom: 15px;
  font-weight: 300;
  border-bottom: solid 1px lighten($medium-gray, 30%);

  &:last-child {
    border-bottom: none;
  }

  a {
    color: lighten($medium-gray, 20%);
    text-decoration: none;
  }
}

i.contact-page__phone-icon {
  color: $medium-gray;
  padding-right: 5px;
}

i.contact-page__email-icon {
  color: $medium-gray;
  padding-right: 4px;
}

i.contact-page__map-icon {
  color: $medium-gray;
  padding-right: 5px;
}

.contact-page-tile__transport {
  padding: 15px 0 25px;
}

.contact-page-tile__transport-station {
  padding-top: 15px;

  a {
    color: lighten($medium-gray, 20%);
    text-decoration: none;
  }
}

.contact-page__tfl-icon {
  display: inline-block;
  height: 17px;
  padding-right: 8px;
  width: 20px;
  vertical-align: middle;
}
