.container {
  margin: 0 auto;
  max-width: $max-mobile-container;

  @include breakpoint($tablet-breakpoint) {
    max-width: $desktop-breakpoint;
  }
}

.container--grid {
  @extend .container;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 6px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 190px;
  grid-gap: 6px;
}
