.error-page__container {
  @extend .container;
  box-sizing: border-box;
  text-align: center;
  padding-top: 6px;

  @include breakpoint($tablet-breakpoint) {
    padding: 70px 20px 30px;
  }

  @include breakpoint($desktop-breakpoint) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.error-page-tile {
  box-sizing: border-box;
  color: $dark-gray;
  display: block;
  font-weight: 300;
  margin-bottom: 6px;
  padding: 0 6px;
  text-decoration: none;

  @include breakpoint($desktop-breakpoint) {
    height: 464px;
    padding: 0;
  }
}

.error-page-tile__container {
  background-color: $white;
  border: 1px solid darken($light-gray, 5%);
  box-sizing: border-box;
  padding: 6px;
  height: 280px;

  @include breakpoint($tablet-breakpoint) {
    height: 350px;
  }

  @include breakpoint($desktop-breakpoint) {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.error-page-tile__title {
  color: $purple;
  font-weight: 300;
  font-size: 2.6em;
  padding-bottom: 20px;
  padding-top: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 5.3vw;
    padding-bottom: 40px;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 3.6em;
    font-weight: 200;
    padding-bottom: 50px;
    padding-top: 50px
  }
}

.error-page-tile__text {
  font-weight: 200;
  line-height: 1.4;
  padding-bottom: 20px;

  &:last-of-type {
    padding-bottom: 40px;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.27vw;

    &:last-of-type {
      padding-bottom: 60px;
    }
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.2em;

    &:last-of-type {
      padding-bottom: 90px;
    }
  }
}

.error-page-tile__home-button {
  @include responsive-text;
  color: $purple;
  background-color: $white;
  border: 1px solid $purple;
  cursor: pointer;
  font-weight: 300;
  line-height: 1.3;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:focus,
  &:hover {
    background-color: $purple;
    color: $white;
  }
}
