.event-content__text {
  color: $event__text-color;
  font-weight: 100;
  line-height: 1.6;
  margin-bottom: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.1em;
  }
}

.event-content__title {
  color: $event-content__title-color;
  font-size: 1.3em;
  line-height: 1.4;
  margin-bottom: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.5em;
  }
}

.event-content__list {
  color: $event__text-color;
  font-weight: 100;
  line-height: 1.3;
  list-style: disc;
  margin-bottom: 20px;
  padding-left: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.1em;
  }
}

.event-content__list-item {
  margin-bottom: 6px;
}
