.event {
  background-color: $white;
  padding-top: 10px;

  @include breakpoint($tablet-breakpoint) {
    padding-top: 30px;
  }
}

.event__container {
  @extend .container;
  box-sizing: border-box;
  padding: 20px;
}

.event__title {
  @include responsive-title;
  font-weight: 400;
  line-height: 1.2em;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 6px;
  }
}

.event__subtitle {
  @include responsive-title;
  color: $dark-gray;
  font-weight: 300;
  line-height: 1.2em;
}

.event__cta {
  @extend .container;
  border: 1px solid $purple;
  background-color: $purple;
  box-sizing: border-box;
  color: $white;
  display: block;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $white;
    color: $purple;
    border: 1px solid $purple;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.1em;
  }
}

.event__footer {
  @extend .container;
  overflow: auto;
}
