.event-location {
  @extend %container;
  display: block;
  position: relative;
}

.event-location__map {
  width: 100%;
}

.event-location__overlay {
  @include align-items(center);
  @include flex-flow(center);
  @include flexbox;
  $gradient: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.5));
  background: -webkit-#{$gradient};
  background: -moz-#{$gradient};
  background: -o-#{$gradient};
  background: $gradient;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#0d000000',GradientType=1 ); /* IE6-9 */
  left: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.event-location__pin {
  @extend .event__detail-icon;
  color: $white;
}

.event-location__address {
  color: $white;
  font-size: 0.8em;
  line-height: 1.2em;
}
