.footer {
  background-color: $footer__background-color;
  min-height: 280px;
}

.footer__email-address {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

.footer__container {
  @extend %container;
  box-sizing: border-box;
  color: $footer__text-color;
  font-size: 0.85em;
  padding: 30px 16px 25px;

  @include breakpoint($tablet-breakpoint) {
    padding: 50px 0;
  }
}

.footer__tile {
  box-sizing: border-box;
  display: block;
  font-weight: 200;
  line-height: 1.5em;
  padding-bottom: 12px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    border-bottom: none;
    float: left;
    padding: 0 16px 40px;
    width: 33.33%;
  }
}
