.footer {
  background-color: $footer__background-color;
  min-height: 280px;
}

.footer-container {
  @extend %container;
  box-sizing: border-box;
  color: $footer__text-color;
  font-size: 0.85em;
  padding: 30px 16px 50px;

  @include breakpoint($tablet-breakpoint) {
    padding: 50px 0;
  }
}

.footer-container__address-tile {
  border-bottom: groove 1px;
  box-sizing: border-box;
  display: block;
  font-weight: 100;
  line-height: 1.5em;
  padding-bottom: 12px;
  padding-right: 16px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    border-bottom: none;
    padding-bottom: 40px;
    padding-left: 16px;
    width: 33.33%;
  }
}

.footer-container__address-city {
  font-weight: 400;
  padding: 15px 0 10px;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:after {
    content: ">";
    padding-left: 8px;
  }

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 25px;
    padding-top: 0;

    span {
      display: none;
    }

    &:after {
      content: ""
    }
  }
}

.footer-container__address-phone {
  font-weight: 400;
  color: inherit;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    pointer-events: none;
    cursor: text;
  }
}

.footer-container__address-full {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
  }
}

.footer-container__registration-address {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    font-size: 0.8em;
    line-height: 1.4em;
  }
}

.footer-container__company-name {
  font-weight: 400;
}

i.footer__map-icon {
  padding-right: 10px;

  @include breakpoint($tablet-breakpoint) {
    display: none;
  }
}

i.footer__phone-icon {
  padding-right: 8px;

  @include breakpoint($tablet-breakpoint) {
    display: none;
  }
}

.footer-container__newsletter {
  font-weight: 100;

  @include breakpoint($tablet-breakpoint) {
    padding-left: 16px;
  }

  p {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  input[type=email] {
    border: none;
    box-sizing: border-box;
    font-weight: 100;
    font-size: 1em;
    height: 35px;
    margin-bottom: 10px;
    width: 100%;

    @include breakpoint($tablet-breakpoint) {
      width: 50%;
    }
  }

  ::-webkit-input-placeholder {
    padding-left: 20px;
  }

  input[type=submit] {
    background-color: $footer__newsletter-button-color;
    border: groove 1px;
    color: $footer__newsletter-text-color;
    font-size: 1em;
    font-weight: 100;
    height: 40px;
    width: 100%;

    @include breakpoint($tablet-breakpoint) {
      width: 50%;
    }
  }
}



