.footer-introduction {
  background-color: $footer-introduction-background-color;
  padding: 16px;

  @include breakpoint($tablet-breakpoint) {
    padding: 16px 20px;
  }
}

.footer-introduction__title {
  color: $footer-introduction-text-color;
  font-size: 1.4em;
  font-weight: 100;
  line-height: 1.2;
  max-width: 220px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 3.68vw;
    max-width: 250px;
    padding-bottom: 4px;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 2.2em;
  }
}
