.footer-introduction {
  background-color: $footer-introduction__background-color;
  padding: 16px;

  @include breakpoint($tablet-breakpoint) {
    padding: 16px 20px;
  }
}

.footer-introduction__title {
  @include responsive-title;
  color: $footer-introduction__text-color;
  font-weight: 200;
  line-height: 1.2;
  max-width: 220px;

  @include breakpoint($tablet-breakpoint) {
    max-width: 250px;
    padding-bottom: 4px;
  }
}
