.footer-introduction {
  background-color: $footer-introduction-background-color;
  padding: 16px;
  min-height: 90px;
}

.footer-introduction__title {
  color: $footer-introduction-text-color;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.2;
  max-width: 220px;
}
