.footer-address__city {
  display: block;
  color: inherit;
  font-weight: 400;
  padding: 15px 0 10px;
  text-decoration: none;

  &:after {
    content: "›";
    padding-left: 8px;
  }

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 15px;
    padding-top: 0;

    &:after {
      content: ""
    }
  }
}

.footer-address__postal-address {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
    padding-bottom: 10px;
  }
}

.footer-address__phone-number {
  color: inherit;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    font-weight: 200;
  }
}

.footer-address__company-registration {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
    font-size: 0.8em;
    line-height: 1.4;
    padding-top: 10px;
  }
}

i.footer-address__map-icon {
  padding-right: 10px;

  @include breakpoint($tablet-breakpoint) {
    padding-right: 3px;
  }
}

i.footer-address__phone-icon {
  padding-right: 8px;

  @include breakpoint($tablet-breakpoint) {
    display: none;
  }
}
