.footer-newsletter__introduction {
  font-weight: 200;
  padding-bottom: 8px;
  padding-top: 14px;
}

.footer-newsletter__email {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  font-weight: 200;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  padding-left: 7px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    width: 95%;
  }

  &.placeholder {
    color: #C0C0C0;
  }
}

.footer-newsletter__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: $footer__newsletter-button-color;
  border-radius: 0;
  border: groove 1px;
  color: $footer__newsletter-text-color;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 200;
  height: 40px;
  width: 100%;

  &:hover {
    background-color: $footer__newsletter-button-hover-color;
    border: none;
    color: $footer__newsletter-button-text-hover-color;
  }

  @include breakpoint($tablet-breakpoint) {
    width: 95%;
  }
}

