.full-image {
  display: block;
  height: 200px;
  object-fit: cover;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    height: 320px;
    height: 47vw;
  }

  @include breakpoint($max-tablet-container) {
    height: 450px;
  }
}
