.grid-tile {
  @include flexbox;
  @include flex-direction(row-reverse);
  background-color: $grid-tile-background-color;
  border: 1px solid $grid-tile-border-color;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    @include flex-direction(column);
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;
    width: 33.33%;
  }
}

.grid-tile__content {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  box-sizing: border-box;
  padding: 20px;
  min-height: 130px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    min-height: 190px;
  }
}

.grid-tile__type {
  color: $grid-tile-type-color;
  font-size: .8em;
  font-weight: 200;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 4px;

  &:after {
    content: "//"
  }
}

.grid-tile__title {
  color: $grid-tile-text-color;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.3;

  @include breakpoint($mobile-font-breakpoint) {
    font-size: 4.5vw;
  }

  @include breakpoint($max-mobile-container) {
    font-size: 1.3em;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.17vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.3em;
  }
}

.grid-tile__client {
  color: $grid-tile-text-color;
  font-size: .8em;
  font-weight: 100;
  line-height: 1.3;
  padding-top: 20px;
}

.grid-tile__image {
  @include flex(0 0 130px);
  height: 130px;
  object-fit: cover;
  width: 130px;

  @include breakpoint($tablet-breakpoint) {
    @include flex(0 0 auto);
    height: 150px;
    width: 100%;
  }
}
