.grid-large-tile {
  @include flexbox;
  @include flex-direction(column-reverse);
  background-color: $grid-tile__background-color;
  text-decoration: none;
  margin: 20px 0;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 40px;
  }
}

.grid-large-tile__content {
  padding: 20px;
}

.grid-large-tile__title {
  color: $grid-tile__text-color;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.3;

  @include breakpoint($mobile-font-breakpoint) {
    font-size: 4.5vw;
  }

  @include breakpoint($max-mobile-container) {
    font-size: 1.3em;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.17vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.3em;
  }
}

.grid-large-tile__client {
  color: $grid-tile__text-color;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3;
  padding-top: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.8vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.08em;
  }
}

.grid-large-tile__image {
  display: block;
  min-height: 200px;
  height: 200px;
  object-fit: cover;
  width: 100%;

  @include breakpoint($max-mobile-container) {
    height: 226px;
  }

  @include breakpoint($tablet-breakpoint) {
    height: 320px;
    height: 47vw;
  }

  @include breakpoint($max-tablet-container) {
    height: 450px;
  }
}
