.grid {
  @include flexbox;
  @include flex-direction(column);

  @include breakpoint($tablet) {
    @include flex-direction(row);
    margin: 0 auto;
    max-width: $max-container;
  }
}

.grid__tile {
  @include flex(1);
  display: block;

  @include breakpoint($tablet) {
    min-height: 140px;
  }
}
