.header {
  background-color: #3B0737;
}

.header__container {
  @extend %container;
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
}

.header__brand {
  color: #9F2D99;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  margin-right: 16px;
  padding-top: 16px;
}

.header__case-study {
  max-width: 340px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.header__case-study-title {
  color: #9F2D99;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.6;
}

.header__case-study-subtitle {
  color: #E0DEE1;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.2;
}
