.header {
  background-color: $header-background-color;
}

.header__container {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  @extend %container;
  height: 240px;
}

.header__brand {
  color: $header-text-color;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: right;
  padding-top: 16px;
}

.header__case-study {
  padding-bottom: 28px;
}

.header__case-study-title {
  color: $header-text-color;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6;
}

.header__case-study-subtitle {
  color: $header-text-color;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.2;
}
