.header {
  background-color: $header-background-color;
}

.header__container {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  @extend %container;
  box-sizing: border-box;
  height: 240px;
  padding: 0 20px;

  @include breakpoint($tablet-breakpoint) {
    height: 320px;
  }
}

.header__brand-link {
  text-decoration: none;
}

.header__brand {
  color: $header-text-color;
  font-size: 1.4em;
  font-weight: 800;
  text-align: right;
  padding-top: 16px;
}

.header__case-study {
  padding-bottom: 28px;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 30px;
  }
}

.header__case-study-title {
  color: $header-text-color;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.2;
  padding-bottom: 30px;

  @include breakpoint(330px) {
    max-width: 98%;
  }

  @include breakpoint($mobile-font-breakpoint) {
    font-size: 6vw;
    max-width: 80%;
  }

  @include breakpoint($max-mobile-container) {
    font-size: 1.8em;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 4vw;
    width: 60%;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 2.4em;
  }
}

.header__case-study-subtitle {
  color: $header-text-color;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2;
  max-width: 220px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 3vw;
    max-width: 320px;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.8em;
  }
}
