%highlight {
  padding: 20px;

  @include breakpoint($tablet-breakpoint) {
    @include clearfix;
    padding: 30px 20px 40px;
  }
}

.highlight--sh24 {
  @extend %highlight;
  background-color: #06B0D9;
  color: $white;
}

.highlight--contiki-holidays {
  @extend %highlight;
  background-color: $dark-gray;
  color: $white;
}

.highlight--plymouth-university {
  @extend %highlight;
  background-color: #5993c6;
  color: $white;
}

.highlight--plymouth-university-gets-agile {
  @extend %highlight;
  background-color: #DF1753;
  color: $white;
}

.highlight--naturejobs {
  @extend %highlight;
  background-color: #DD353C;
  color: $white;
}

.highlight__title {
  @include responsive-title;
  font-weight: 300;
  line-height: 1.3;
  padding: 8px 0 16px;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 2vw;
  }

  @include breakpoint($desktop-breakpoint) {
    padding-bottom: 20px;
  }
}

.highlight__section {
  @include breakpoint($tablet-breakpoint) {
    float: left;
    padding-bottom: 14px;
    width: 50%;
  }
}

.highlight__section:first-of-type {
  padding-bottom: 18px;

  @include breakpoint($tablet-breakpoint) {
    box-sizing: border-box;
    padding-bottom: 0;
    padding-right: 20px;
  }
}

.highlight__section:last-of-type {
  @include breakpoint($tablet-breakpoint) {
    box-sizing: border-box;
    padding-left: 20px;
  }
}

.highlight__sub-title {
  font-weight: 400;
  line-height: 1.3;
  padding-bottom: 8px;
  text-transform: uppercase;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.96vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.18em;
  }
}

.highlight__list {
  @include breakpoint($tablet-breakpoint) {
    @include columns(2, 20px);
  }
}

.highlight__list--bulleted {
  @extend .highlight__list;
  list-style: disc;
  padding-left: 20px;

  @include breakpoint($tablet-breakpoint) {
    @include columns(2, 40px);
    li:nth-child(2) {
     padding-bottom: 70px;
    }
  }
}

.highlight__list--bulleted-one-column {
  @extend .highlight__list--bulleted;
  padding-left: 0px;

  @include breakpoint($tablet-breakpoint) {
    @include columns(1, 0px);
  }
}

.highlight__list-item {
  font-weight: 300;
  line-height: 1.3;
  padding-bottom: 16px;

  &:last-of-type {
    padding-bottom: 16px;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.96vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.18em;
  }
}

.highlight__small-list-item {
  display: block;
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 0.07em;
  padding-top: 12px;
}

.highlight__large-text {
  font-size: 2em;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;

  @include breakpoint($tablet-breakpoint) {
    font-size: 5.18vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 3.8em;
  }
}

.highlight__large-arrow {
  padding-right: 5px;

  @include breakpoint($desktop-breakpoint) {
    padding-right: 12px;
  }
}

.highlight__small-text {
  font-weight: 300;
  line-height: 1.3;
  padding-bottom: 20px;
  text-align: center;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.96vw;
    margin: 0 auto;
    max-width: 80%;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.18em;
    line-height: 1.5;
    max-width: 65%;
  }
}

.highlight__wide-text {
  font-weight: 300;
  line-height: 1.3;
  padding-bottom: 20px;
  text-align: center;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.96vw;
    margin: 0 auto;
    max-width: 80%;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.18em;
    line-height: 1.5;
    max-width: 90%;
  }
}

.highlight__tile--one {
  max-width: 80%;
  margin: 0 auto;

  @include breakpoint($tablet-breakpoint) {
    max-width: 50%;
  }
}

.highlight__tile--two {
  @include breakpoint($tablet-breakpoint) {
    @include columns(2, 40px);
  }
}
