.homepage-header {
  min-height: 350px;
  position: relative;
  overflow: hidden;

  @include breakpoint($tablet-breakpoint) {
    min-height: 450px;
  }

  @include breakpoint($desktop-breakpoint) {
    min-height: 550px;
  }

  video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.homepage-header__text {
  @include responsive-text;
  background-color: transparentize(darken($purple, 5%), 0.1);
  bottom: 20px;
  color: $white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e677277b', endColorstr='#e677277b',GradientType=1 );
  font-weight: 300;
  left: 20px;
  line-height: 1.6;
  padding: 20px;
  position: absolute;
  right: 20px;

  @include breakpoint($tablet-breakpoint) {
    bottom: 10%;
    left: 0;
    right: 41%;
  }
}
