.homepage-service {
  @include breakpoint($tablet-breakpoint) {
    width: 100%;
  }
}

.homepage-service__title {
  @include responsive-text;
  font-weight: 400;
  margin-bottom: 16px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 1.6vw;
  }

  @include breakpoint($desktop-breakpoint) {
    margin-bottom: 16px;
  }
}

.homepage-service__image {
  width: 100%;
  margin-bottom: 16px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 1.6vw;
  }

  @include breakpoint($desktop-breakpoint) {
    margin-bottom: 16px;
  }
}

.homepage-service__paragraph {
  @include responsive-text;
  font-weight: 200;
  line-height: 1.3em;
}
