.homepage-blog-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 33.33%;
  }
}

.homepage-blog-tile__image {
  background-color: $white;
  border: 1px solid darken($light-gray, 5%);
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.homepage-blog-tile__content {
  @extend .blog-small-tile__content;
}

.homepage-blog-tile__title {
  @include responsive-text;
  color: $dark-gray;
  font-weight: 300;
  line-height: 1.3em;
  margin-bottom: 20px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 6px;
  }
}

.homepage-blog-tile__author {
  @extend .blog-small-tile__author;
}

.homepage-blog-tile__date {
  @extend .blog-small-tile__date;
}

