.homepage-principles {
  background-color: $white;
  display: flex;

  @media only screen and (max-width: $tablet-breakpoint) {
    flex-direction: column-reverse;
  }

  .homepage-principles__left_con {
    flex: 1;
    padding: 30px 30px 20px;

    .services__title {
      padding: 0;
    }

    @media only screen and (max-width: $tablet-breakpoint) {
      padding-right: 20px;
    }

    .service__button {
      margin-top: 40px;
    }
  }

  .homepage-principles__right_con {
    flex: 1;
  }

  .homepage-principles__image {
    width: 100%;
    height: 100%;
  }
}
