.homepage-newsletter {
  background-color: $white;
  padding: 28px 0 28px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding: 60px 0 60px 20px;
  }
}

.homepage-newsletter__title {
  @include responsive-title;
  font-weight: 200;
  padding-right: 20px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 40px;
  }
}

.homepage-newsletter__paragraph {
  @include responsive-text;
  font-weight: 200;
  line-height: 1.3em;
}
