.homepage-services {
  background-color: $white;
  padding: 28px 0 28px 20px;

  @include breakpoint($tablet-breakpoint) {
    overflow: auto;
    padding: 60px 0 60px 20px;
  }
}

.homepage-services--gray {
  background-color: $dark-gray;
  color: $white;
}

.homepage-services__title {
  @include responsive-title;
  font-weight: 200;
  margin-bottom: 20px;
  padding-right: 20px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 40px;
  }
}

.homepage-services__service {
  box-sizing: border-box;
  padding-right: 20px;
  margin-bottom: 40px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 33.33%;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
