.homepage-newsletter {
  background-color: $dark-gray;
  padding: 30px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding: 60px 20px;
  }
}

.homepage-newsletter__title {
  @include responsive-title;
  font-weight: 200;
  margin-bottom: 30px;
  text-transform: lowercase;
  color: $white;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 50px;
  }
}

.homepage-newsletter__paragraph {
  @include responsive-text;
  color: $white;
  font-weight: 200;
  line-height: 1.3em;
}

.homepage-newsletter__form {
  margin-top: 20px;

  @include breakpoint($tablet-breakpoint) {
    margin-top: 30px;
  }
}

.homepage-newsletter__email {
  @include responsive-text;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  appearance: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-weight: 200;
  height: 49px;
  line-height: 1.3;
  margin-bottom: 8px;
  padding: 10px;
  width: 100%;

  &:focus {
    background-color: darken($white, 5%);
    outline: 0;
  }

  &.placeholder {
    color: #C0C0C0;
  }

  @include breakpoint($tablet-breakpoint) {
    display: inline-block;
    margin-bottom: 0;
    width: 74%;
  }
}

.homepage-newsletter__button {
  @include responsive-text;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  appearance: none;
  background-color: $dark-gray;
  background: none;
  border-radius: 0;
  border: 1px solid darken($white, 5%);
  box-sizing: border-box;
  color: darken($white, 5%);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-weight: 200;
  height: 49px;
  line-height: 1.3;
  padding: 10px 20px;
  vertical-align: top;
  width: 100%;

  &:focus,
  &:hover {
    background-color: darken($white, 5%);
    color: $dark-gray;
    outline: 0;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  @include breakpoint($tablet-breakpoint) {
    display: inline-block;
    width: 20%;
    margin-left: 3%;
  }
}
