.homepage-contact {
  background-color: $white;
  padding: 20px;
}

.homepage-contact__title {
  @include responsive-title;
  font-weight: 200;
}

.homepage-contact__text {
  @include responsive-text;
  font-weight: 200;
  line-height: 1.3em;
}
