.image-block {
  @include display-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  height: 340px;
}

.image-block__main-image {
  object-fit: cover;
  flex-grow: 2;
  -webkit-flex-grow: 2;
  height: 60%;
  width: 100%;
}

.image-block__image {
  object-fit: cover;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  height: 40%;
  width: 50%;
}

.image-block__full-image {
  object-fit: cover;
  height: 340px;
  width: 100%;
}
