.image-block {
  @include flexbox;
  @include flex-wrap(wrap);
  height: 420px;
}

.image-block__1-image {
  object-fit: cover;
  height: 420px;
  width: 100%;
}

.image-block__3-image {
  @include flex-grow(1);
  object-fit: cover;
  height: 40%;
  width: 50%;

  @include breakpoint($max-container * 1.5) {
    height: 100%;
    width: 33%;
  }

  &:first-of-type {
    @include flex-grow(2);
    height: 60%;
    width: 100%;

    @include breakpoint($max-container * 1.5) {
      @include flex-grow(1);
      height: 100%;
      width: 33%;
    }
  }
}
