.jobs-page-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    max-width: 50%;
    flex-grow: 1;
    flex-basis: 0;
    max-height:100%;
  }
}

.jobs-page-tile--linked {
  @extend .jobs-page-tile;
  color: darken($light-gray, 5%);
}

.jobs-page-tile--linked-single {
  padding-right: 6px;
  color: darken($light-gray, 5%);
}

.jobs-page-tile__content-single {
  @extend .jobs-page-tile;
  max-width: 100%;
  background-color: $white;
  border: 1px solid darken($light-gray, 5%);
  padding-bottom: 0;
  padding-right: 0;
  margin-right: 6px;

  @include breakpoint($tablet-breakpoint) {
    height: 185px;
  }

  &:hover {
    background-color: mix($white, $light-gray);
  }
}


.jobs-page-tile__text-single {
  box-sizing: border-box;
  padding: 30px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding: 30px 20px 0 20px;
  }
}

.jobs-page-tile__image-container{
  @include clearfix;
  display: flex;
  justify-content: center;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 50%;
  }
  height: 100%;
}


.jobs-page-tile__image {
  display: block;
  max-height: 100%;
  margin: auto;
  max-width: 100%;
  margin-bottom: 9px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: auto;
  }
}

.jobs-page-tile__content {
  background-color: $white;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid darken($light-gray, 5%);
  max-height: 100%;
  &:hover {
    background-color: mix($white, $light-gray);
  }
}

.jobs-page-tile__title {
  @include responsive-text;
  color: lighten($dark-gray, 15%);
  padding: 14px 6px;
}

.jobs-page-tile__paragraph {
  color: $dark-gray;
  padding: 0 6px 6px;
  font-weight: 300;
  line-height: 1.2em;

  @include breakpoint($tablet-breakpoint) {
    font-size: .95em;
    min-height: 11.5vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.1em;
    min-height: 106px;
  }
}

.jobs-page-tile__no-roles-paragraph {
  color: $dark-gray;
  padding-left: 15px;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 40px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 0;
  }
}
