.jobs-page-roles {
  padding: 30px 0 0 6px;

  @include breakpoint($tablet-breakpoint) {
    overflow: auto;
    padding: 60px 0 50px 6px;
  }
}

.jobs-page-roles__title {
  @include responsive-title;
  color: $purple;
  font-weight: 300;
  padding: 0 20px 0 14px;
  margin-bottom: 20px;
  text-transform: lowercase;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 50px;
  }
}
