.link-tile {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  box-sizing: border-box;
  padding: 16px;
  text-decoration: none;
  height: 130px;

  &:last-of-type {
    border-bottom: none;
  }

  @include breakpoint($tablet-breakpoint) {
    border-right: 1px solid $light-gray;
    border-bottom: 0;
    float: left;
    height: 160px;
    width: 33.33%;

    &:hover {
      background-color: mix($white, $light-gray);
    }

    &:last-of-type {
      border-right: none;
    }
  }
}

.link-tile__type {
  color: $purple;
  font-size: .8em;
  font-weight: 300;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 4px;

  &:after {
    content: "//"
  }
}

.link-tile__title {
  color: $black;
  font-weight: 300;
  line-height: 1.3;
}

.link-tile__source {
  color: $black;
  font-size: .8em;
  font-weight: 300;
  line-height: 1.3;
  padding-top: 12px;
}
