.link-tile {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  background-color: $link-tile__background-color;
  border-bottom: 1px solid $link-tile__border-color;
  box-sizing: border-box;
  padding: 16px;
  text-decoration: none;
  min-height: 130px;

  &:last-of-type {
    border-bottom: none;
  }

  @include breakpoint($tablet-breakpoint) {
    border-right: 1px solid $link-tile__border-color;
    border-bottom: 0;
    float: left;
    min-height: 165px;
    width: 33.33%;

    &:hover {
      background-color: darken($link-tile__background-color, 6%);
    }

    &:last-of-type {
      border-right: none;
    }
  }
}

.link-tile--site-link {
  background-color: $site-link__background-color;
  min-height: 80px;

  .link-tile__type {
    color: $site-link__type-color;
  }

  .link-tile__title {
    color: $site-link__text-color;
  }

  @include breakpoint($tablet-breakpoint) {
    min-height: 165px;

    &:hover {
      background-color: darken($site-link__background-color, 6%);
    }
  }
}

.link-tile__type {
  color: $link-tile__type-color;
  font-size: .8em;
  font-weight: 200;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 4px;

  &:after {
    content: "//"
  }
}

.link-tile__title {
  color: $link-tile__text-color;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.3;

  @include breakpoint($mobile-font-breakpoint) {
    font-size: 4.5vw;
  }

  @include breakpoint($max-mobile-container) {
    font-size: 1.3em;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.17vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.3em;
  }
}

.link-tile__source {
  color: $link-tile__text-color;
  font-size: .8em;
  font-weight: 100;
  line-height: 1.3;
  padding-top: 16px;
}
