.list-block {
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  padding: 16px 32px 32px;
  max-width: 334px;
  margin: 0 auto;

  @include breakpoint(512px) {
    max-width: 100%;
    margin: 0;
  }
}

.list-block__list-item {
  @include flexbox;
  @include flex-direction(column);
  @include flex-grow(1);
  padding-bottom: 16px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.list-block__image {
  $width: 96px;
  @include flex-grow(0);
  @include flex-shrink(0);
  @include flex-basis($width);
  padding: 0 8px 16px;
  margin: 0 auto;
  width: $width;

  @include breakpoint($tablet) {
    $width: 112px;
    @include flex-basis($width);
    width: $width;
  }

  @include breakpoint(768px) {
    $width: 128px;
    @include flex-basis($width);
    width: $width;
  }
}

.list-block__text {
  @include align-self(center);
  line-height: 1.2;
  color: #414141;
  font-weight: 100;
  font-size: .9rem;
  text-align: center;
  width: 100px;
}
