.news-article {
  background-color: $white;
  box-sizing: border-box;
  margin-top: 6px;
  padding: 0 14px 30px;

  @include breakpoint($tablet-breakpoint) {
    margin-top: 60px;
    padding: 0 $padding-h-main-desktop 30px;
  }
}

.news-header {
  padding: 20px 30px 20px 0;
}

.news-header__page-title {
  @extend .blog-header__page-title;
}

.news-header__breadcrumb {
  @extend .blog-header__breadcrumb;
}

.news-header__article-title {
  @extend .blog-header__article-title;
}

.news-header__published-date {
  color: $medium-gray;
  font-weight: 200;
  line-height: 1.3;
  padding-bottom: 25px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.1em;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  @include breakpoint($desktop-breakpoint) {
    padding-bottom: 40px;
  }
}

.news-content {
  @extend .blog-content;
}
