%page-content-margins {
  margin-top: 85px;

  @include breakpoint($tablet-breakpoint) {
    margin-top: 105px;
  }

  @include breakpoint($max-tablet-container) {
    margin-top: 64px;
  }
}

.page-content {
  @extend %page-content-margins;
  background-color: $page-content__background-color;
}
