.page-content {
  background: $page-content__background-color;
  margin-top: 85px;

  @include breakpoint($tablet-breakpoint) {
    margin-top: 105px;
  }

  @include breakpoint($max-tablet-container) {
    margin-top: 64px;
  }
}
