%page-content-margins {
  margin-top: 84px;
  padding-bottom: 30px;

  @include breakpoint($tablet-breakpoint) {
    margin-top: 53px;
    padding-bottom: 50px;
  }

  @include breakpoint($desktop-breakpoint) {
    margin-top: 64px;
  }
}

.page-content {
  @extend %page-content-margins;
  background-color: $light-gray;
}

.page-content--news-article {
  @extend .page-content;
  overflow: hidden;
}
