.page-header {
  background-color: $white;
}

.page-header--bottom-margin {
  margin-bottom: 6px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 60px;
  }
}

.page-header__container {
  @extend .container;
  box-sizing: border-box;
  padding: 0 20px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

.page-header__title {
  color: $dark-gray;
  font-size: 1.95em;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 8px;
  padding-top: 30px;
  text-transform: lowercase;

  @include breakpoint($tablet-breakpoint) {
    font-size: 4vw;
    max-width: 75%;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 2.4em;
  }
}

.page-header__introduction {
  color: $dark-gray;
  font-size: 1.95em;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 8px;
  padding-top: 30px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 4vw;
    max-width: 74%;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 2.4em;
  }
}

.page-header__subtitle {
  @include responsive-sub-title;
  color: $dark-gray;
  font-weight: 300;
  line-height: 1.4em;
  padding-top: 8px;
}
