.page-header {
  background-color: $white;
}

.page-header__container {
  @extend .container;
  box-sizing: border-box;
  padding: 0 20px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

.page-header__title {
  color: $dark-gray;
  font-size: 1.95em;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 8px;
  padding-top: 30px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 4vw;
    max-width: 75%;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 2.4em;
  }
}

.page-header__client {
  color: $dark-gray;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2;
  padding-top: 8px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 3vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.8em;
  }
}
