.page-footer-introduction {
  background-color: $light-gray;
  padding: 16px;

  @include breakpoint($tablet-breakpoint) {
    padding: 16px 20px;
  }
}

.page-footer-introduction__title {
  @include responsive-title;
  color: $black;
  font-weight: 200;
  line-height: 1.2;
  max-width: 220px;

  @include breakpoint($tablet-breakpoint) {
    max-width: 250px;
    padding-bottom: 4px;
  }
}
