.page-header {
  background-color: $header-background-color;
}

.page-header__container {
  @extend %container;
  box-sizing: border-box;
  padding: 0 20px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

.page-header__title {
  color: $header-text-color;
  font-size: 1.95em;
  font-weight: 200;
  line-height: 1.2;
  padding-bottom: 8px;
  padding-top: 30px;

  @include breakpoint($mobile-font-breakpoint) {
    font-size: 7.8vw;
  }

  @include breakpoint($max-mobile-container) {
    font-size: 2.34em;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 4vw;
    max-width: 75%;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 2.4em;
  }
}

.page-header__client {
  color: $header-text-color;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2;
  padding-top: 8px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 3vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.8em;
  }
}
