.person-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 33.33%;
  }
}

.person-tile__content {
  box-sizing: border-box;
  background-color: $white;
  padding: 14px;
  border: 1px solid darken($light-gray, 5%);
  width: 100%;

  &:hover {
    background-color: mix($white, $light-gray);
  }
}
