.photo-gallery {
  margin-top: 10px;
  background-color: $white;
  padding: 30px 0 30px 20px;

  @include breakpoint($tablet-breakpoint) {
    overflow: auto;
    padding: 20px 0 0 20px;
  }
}

.photo-gallery-container {
  box-sizing: border-box;
  padding-right: 20px;
  margin-bottom: 40px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 33.33%;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.photo-gallery__introduction {
  @include responsive-text;
  color: $purple;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 20px;
  padding-right: 20px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 50px;
    line-height: 1.3em;
  }
}

.photo-gallery-image {
  overflow: auto;
  min-height: 225px;
}

.gallery__image {
  width: 100%;
}
