.project-story-small-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($tablet-breakpoint) {
    display: inline-block;
    width: 33%;
    margin-right: -4px;
  }
}

.project-story-small-tile__container {
  background-color: $project-story-tile__background-color;
  box-sizing: border-box;
  border: 1px solid $blog-tile__border-color;
  padding: 6px;
  width: 100%;

  &:hover {
    background-color: $project-story-tile__hover-color;
  }

  @include breakpoint($tablet-breakpoint) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
  }
}

.project-story-small-tile__image-container {
  box-sizing: border-box;
}

.project-story-small-tile__image {
  display: block;
  height: 180px;
  object-fit: cover;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    height: 110px;
  }

  @include breakpoint($tablet-breakpoint) {
    height: 120px;
  }
}

.project-story-small-tile__content {
  display: inline-block;
  min-height: 75px;
  padding-left: 8px;
  padding-top: 10px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    height: 95px;
    padding: 8px 6px 0;
    width: 100%;
  }
}

.project-story-small-tile__client {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
    color: $project-story-tile__client-color;
    margin-bottom: 3px;
    font-size: 1em;
    line-height: 1.3em;
    padding-right: 10px;
  }
}

.project-story-small-tile__title {
  color: $project-story-tile__title-color;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.3em;

  @include breakpoint($tablet-breakpoint) {
    font-size: 0.85em;
    line-height: 1.35em;
    padding-right: 10px;
  }

  @include breakpoint($desktop-breakpoint) {
    line-height: 1.6em;
    padding-right: 30px;
  }
}
