.project-story-large-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 8px;
  padding: 10px 10px 0;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    margin-bottom: 0;
    min-height: 386px;
    padding-right: 0;
    width: 66%;
  }
}

.project-story-large-tile__container {
  background-color: $white;
  width: 100%;

  &:hover {
    background-color: $light-gray;
  }
}

.project-story-large-tile__image-container {
  box-sizing: border-box;
  float: left;
  padding: 10px;
  position: relative;
  width: 50%;

  &:before {
    border-color: transparent $white transparent transparent;
    border-style: solid;
    border-width: 12px 14px 12px 12px;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 32px;
    right: 10px;
    width: 0;
  }

  @include breakpoint($max-mobile-container) {
    &:before {
      border-width: 14px 16px 14px 14px;
    }
  }

  @include breakpoint($tablet-breakpoint) {
    width: 100%;

    &:before {
      border-color: transparent transparent $white transparent;
      border-width: 12px 14px 12px 12px;
      top: 167px;
      left: 20px;
      width: 0;
    }
  }
}

.project-story-large-tile__image {
  display: block;
  height: 130px;
  object-fit: cover;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    height: 180px;
  }
}

.project-story-large-tile__content {
  display: inline-block;
  height: 130px;
  padding: 10px 0 10px 3px;
  text-decoration: none;
  width: 47%;

  @include breakpoint($tablet-breakpoint) {
    padding: 20px 10px 0;
    width: 85%;
    min-height: 170px;
  }
}

.project-story-large-tile__client {
  font-size: 1em;
  color: $purple;
  line-height: 1.1em;
  margin-bottom: 10px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.2em;
  }
}

.project-story-large-tile__title {
  color: $medium-gray;
  font-size: 0.8em;
  line-height: 1.5em;

  @include breakpoint($tablet-breakpoint) {
    font-size: 0.9em;
    line-height: 1.6em;
  }
}
