.project-story-small-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 8px;
  padding: 0 10px;
  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.project-story-small-tile__image-container {
  box-sizing: border-box;
  position: relative;
  width: 50%;

  &:before {
    border-color: transparent $white transparent transparent;
    border-style: solid;
    border-width: 12px 14px 12px 12px;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 32px;
    right: 5px;
    width: 0;
  }

  @include breakpoint($max-mobile-container) {
    &:before {
      border-width: 16px 18px 16px 16px;
      right: 12px;
    }
  }
}

.project-story-small-tile__image {
  display: block;
  height: 130px;
  float: left;
  object-fit: cover;
  padding: 10px;
  width: 90%;
}

.project-story-small-tile__content {
  display: inline-block;
  height: 130px;
  padding: 10px 0 10px 3px;
  text-decoration: none;
  width: 47%;
}

.project-story-small-tile__client {
  font-size: 1em;
  color: $purple;
  line-height: 1.1em;
  margin-bottom: 10px;
}

.project-story-small-tile__title {
  color: $medium-gray;
  font-size: 0.8em;
  line-height: 1.5em;
}
