.project-story-large-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    margin-bottom: 0;
    width: 66%;
  }
}

.project-story-large-tile__container {
  background-color: $project-story-tile__background-color;
  box-sizing: border-box;
  border: 1px solid $project-story-tile__border-color;
  padding: 6px;
  width: 100%;

  &:hover {
    background-color: $project-story-tile__hover-color;
  }
}

.project-story-large-tile__image-container {
  box-sizing: border-box;
  float: left;
  width: 50%;

  @include breakpoint($tablet-breakpoint) {
    width: 100%;
  }
}

.project-story-large-tile__image {
  display: block;
  height: 130px;
  object-fit: cover;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    height: 255px;
  }

  @include breakpoint($tablet-breakpoint) {
    height: 275px;
  }
}

.project-story-large-tile__content {
  display: inline-block;
  height: 130px;
  padding-left: 8px;
  text-decoration: none;
  width: 47%;

  @include breakpoint($tablet-breakpoint) {
    padding: 20px 6px 0;
    width: 85%;
    min-height: 170px;
  }
}

.project-story-large-tile__client {
  color: $project-story-tile__client-color;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 10px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.2em;
  }
}

.project-story-large-tile__title {
  color: $project-story-tile__title-color;
  font-size: 0.8em;
  line-height: 1.5em;

  @include breakpoint($tablet-breakpoint) {
    font-size: 0.9em;
    line-height: 1.6em;
  }
}
