.project-team {
  background-color: $white;
  overflow: auto;
  padding: 20px 20px 0;

  @include breakpoint($tablet-breakpoint) {
    padding: 30px 20px 0;
  }
}

.project-team__title {
  @include responsive-title;
  color: $purple;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 16px;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 1.6vw;
  }

  @include breakpoint($desktop-breakpoint) {
    padding-bottom: 16px;
  }
}

.project-team__headshot-container {
  display: block;
  float: left;
}

.project-team__container--1 {
  display: block;
  margin: 0 auto;
  max-width: 160px;
}

.project-team__container--5 {
  width: 20%;
}

.project-team__container--6 {
  width: 16.66%;
}

.project-team__headshot {
  display: block;
  width: 100%;
}
