.project-story-small-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($tablet-breakpoint) {
    display: inline-block;
    width: 33%;
    margin-right: -4px;
  }
}

.project-story-small-tile__container {
  background-color: $project-story-tile__background-color;
  box-sizing: border-box;
  border: 1px solid $blog-tile__border-color;
  padding: 6px;
  width: 100%;

  &:hover {
    background-color: $project-story-tile__hover-color;
  }

  @include breakpoint($tablet-breakpoint) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);

    min-height: 190px;
  }
}

.project-story-small-tile__image-container {
  box-sizing: border-box;
  float: left;
  width: 50%;

  @include breakpoint($tablet-breakpoint) {
    width: 100%;
  }
}

.project-story-small-tile__image {
  display: block;
  height: 130px;
  object-fit: cover;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    height: 70px;
  }
}

.project-story-small-tile__content {
  display: inline-block;
  height: 130px;
  padding-left: 8px;
  text-decoration: none;
  width: 47%;

  @include breakpoint($tablet-breakpoint) {
    height: 95px;
    padding: 8px 6px 0;
    width: 100%;
  }
}

.project-story-small-tile__client {
  color: $project-story-tile__client-color;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 10px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1em;
    line-height: 1.3em;
    padding-right: 10px;
  }
}

.project-story-small-tile__title {
  color: $project-story-tile__title-color;
  font-size: 0.8em;
  line-height: 1.6em;

  @include breakpoint($tablet-breakpoint) {
    line-height: 1.4em;
    padding-right: 10px;
  }

  @include breakpoint($desktop-breakpoint) {
    line-height: 1.6em;
    padding-right: 30px;
  }
}
