.project-story-sh24__woman-with-phone {
  object-position: right bottom;
}

.project-story-sh24__prototype-image {
  object-fit: contain;
  padding: 0 32px;

  @include breakpoint($max-container) {
    object-position: bottom right;
    padding-top: 32px;
    padding-right: 0;
  }
}

.project-story-sh24__team-image {
  object-fit: contain;
  padding: 16px 32px 0;

  @include breakpoint($tablet) {
    padding-top: 32px;
  }

  @include breakpoint($max-container) {
    object-position: bottom left;
    padding-top: 96px;
    padding-left: 0;
  }
}
