.project-story-large-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    margin-bottom: 0;
    width: 66.66%;
  }
}

.project-story-large-tile__container {
  background-color: $project-story-tile__background-color;
  border: 1px solid $project-story-tile__border-color;
  box-sizing: border-box;
  padding: 6px;
  width: 100%;

  &:hover {
    background-color: mix($white, $light-gray);
  }
}

.project-story-large-tile__image {
  display: block;
  width: 100%;
}

.project-story-large-tile__content {
  padding: 12px 6px 6px;

  @include breakpoint($tablet-breakpoint) {
    padding: 12px 6px;
    min-height: 219px;
    width: 85%;
  }
}

.project-story-large-tile__client {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    color: $project-story-tile__client-color;
    display: block;
    font-size: 1.4em;
    line-height: 1.3;
    margin-bottom: 12px;
  }
}

.project-story-large-tile__title {
  color: $project-story-tile__title-color;
  font-weight: 200;
  line-height: 1.3;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.1em;
    line-height: 1.6;
  }
}
