.project-story-large-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 6px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    margin-bottom: 0;
    width: 66%;
  }
}

.project-story-large-tile__container {
  background-color: $project-story-tile__background-color;
  box-sizing: border-box;
  border: 1px solid $project-story-tile__border-color;
  padding: 6px;
  width: 100%;

  &:hover {
    background-color: $project-story-tile__hover-color;
  }
}

.project-story-large-tile__image {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.project-story-large-tile__content {
  display: inline-block;
  padding: 12px 8px 10px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    min-height: 198px;
    padding: 20px 6px 0;
    width: 85%;
  }
}

.project-story-large-tile__client {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
    color: $project-story-tile__client-color;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
}

.project-story-large-tile__title {
  color: $project-story-tile__title-color;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.3em;

  @include breakpoint($max-mobile-container) {
    font-size: 1.2em;
    padding-right: 5px;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.1em;
    line-height: 1.6em;
  }
}
