.quote {
  background-color: $quote__background-color;
  padding: 20px;

  @include breakpoint($tablet-breakpoint) {
    box-sizing: border-box;
    padding: 40px;
  }
}

.quote__text {
  @include responsive-text;
  color: $quote__text-color;
  font-weight: 300;
  line-height: 1.3;
  position: relative;
  quotes: "“" "”";

  &:before {
    content: open-quote;
    display: block;
    position: absolute;
    left: -8px;
  }

  &:after {
    content: close-quote;
  }

  @include breakpoint($tablet-breakpoint) {
    &:before {
      left: -10px;
    }
  }
}

.quote__source {
  color: $quote__source-color;
  font-weight: 300;
  padding-top: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.96vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.18em;
  }
}
