.quote {
  background-color: mix($white, $light-gray);
  padding: 20px;

  @include breakpoint($tablet-breakpoint) {
    box-sizing: border-box;
    padding: 40px;
  }
}

.quote__text {
  @include responsive-text;
  color: $dark-gray;
  font-weight: 300;
  line-height: 1.3;
  position: relative;
  quotes: "“" "”";

  &:before {
    content: open-quote;
    display: block;
    position: absolute;
    left: -8px;
  }

  &:after {
    content: close-quote;
  }

  @include breakpoint($tablet-breakpoint) {
    &:before {
      left: -10px;
    }
  }
}

.quote__text--centered {
  @extend .quote__text;

  @include breakpoint($desktop-breakpoint) {
    padding-top: 30px;
  }
}

.quote__source {
  color: $purple;
  font-weight: 300;
  padding-top: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.96vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.18em;
  }
}

.quote__right-section {
  display: block;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    max-width: 80%;
  }
}

.quote__source-image {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
    padding-left: 30px;
    width: 80px;
  }
  @include breakpoint($desktop-breakpoint) {
    height: 240px;
    min-width: 120px;
    padding-left: 30px;
  }
}

