.quote {
  background-color: $quote-background-color;
  padding: 20px;

  @include breakpoint($tablet-breakpoint) {
    box-sizing: border-box;
    padding: 30px 40px;
  }
}

.quote__text {
  color: $quote-text-color;
  font-size: .98em;
  font-weight: 200;
  line-height: 1.3;
  position: relative;
  quotes: "“" "”";

  &:before {
    content: open-quote;
    display: block;
    position: absolute;
    left: -8px;
  }

  &:after {
    content: close-quote;
  }

  @include breakpoint($mobile-font-breakpoint) {
    font-size: 4.5vw;

    &:before {
      left: -8px;
    }
  }

  @include breakpoint($max-mobile-container) {
    font-size: 1.35em;

    &:before {
      left: -10px;
    }
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.17vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.3em;

    &:before {
      left: -10px;
    }
  }
}

.quote__source {
  color: $quote-source-color;
  font-size: 1em;
  font-weight: 200;
  padding-top: 20px;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.96vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.18em;
  }
}
