.related-tile {
  @include flexbox;
  text-decoration: none;

  &:hover .related-tile__text-content {
    background-color: darken($white-tile-background-color, 6%);
  }

  &:first-of-type {
    .related-tile__text-content {
      border-bottom: 0;
    }

    @include breakpoint(max-width $tablet-breakpoint - 1) {
      @include flex-direction(column-reverse);

      .related-tile__image {
        @include flex(0 0 auto);
        width: 100%;
        height: 240px;
      }

      .related-tile__title {
        font-size: 1.5em;
      }
    }
  }

  @include breakpoint($tablet-breakpoint) {
    @include flex-direction(column-reverse);
    float: left;
    width: 33.33%;

    &:last-of-type .related-tile__text-content {
      border-right: 0;
    }
  }
}

.related-tile__image {
  @include flex(0 0 130px);
  height: 130px;
  object-fit: cover;
  width: 130px;

  @include breakpoint($tablet-breakpoint) {
    @include flex(0 0 auto);
    height: 150px;
    width: 100%;
  }
}

.related-tile__text-content {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  background-color: $white-tile-background-color;
  border-bottom: 1px solid $light-gray;
  box-sizing: border-box;
  padding: 16px;
  min-height: 130px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    border-bottom: none;
    border-right: 1px solid $light-gray;
    min-height: 160px;
  }
}

.related-tile__type {
  color: $white-tile-type-color;
  font-size: .8em;
  font-weight: 200;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 4px;

  &:after {
    content: "//"
  }
}

.related-tile__title {
  color: $white-tile-text-color;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.3;

  @include breakpoint($mobile-font-breakpoint) {
    font-size: 4.5vw;
  }

  @include breakpoint($max-mobile-container) {
    font-size: 1.3em;
  }

  @include breakpoint($tablet-breakpoint) {
    font-size: 2.17vw;
  }

  @include breakpoint($max-tablet-container) {
    font-size: 1.3em;
  }
}
