.related-tile {
  @include flexbox;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    @include flex-direction(column-reverse);
    float: left;
    width: 33.33%;

    &:hover .related-tile__image {
      z-index: 3;
    }
  }
}

.related-tile__image {
  @include flex(0 0 130px);
  height: 130px;
  object-fit: cover;
  width: 130px;

  @include breakpoint($tablet-breakpoint) {
    @include flex(0 0 auto);
    height: 150px;
    margin-top: -60px;
    width: 100%;
  }
}

.related-tile:first-of-type {
  @include breakpoint(max-width $tablet-breakpoint - 1) {
    @include flex-direction(column-reverse);

    .related-tile__image {
      @include flex(0 0 auto);
      width: 100%;
      height: 240px;
    }

    .related-tile__title {
      font-size: 1.5em;
    }

    .related-tile__author {
      font-weight: 600;
    }
  }
}

.related-tile__text-content {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  box-sizing: border-box;
  padding: 16px;
  min-height: 130px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    min-height: 190px;
    z-index: 2;
  }
}

.related-tile__type {
  font-size: .8em;
  font-weight: 200;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 4px;

  &:after {
    content: "//"
  }
}

.related-tile__title {
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.3;
}

.related-tile__author {
  font-size: .8em;
  font-weight: 100;
  line-height: 1.3;
  padding-top: 16px;
}

.related-tile--white {
  .related-tile__text-content {
    background-color: $white-tile-background-color;
  }

  .related-tile__type {
    color: $white-tile-type-color;
  }

  .related-tile__title {
    color: $white-tile-text-color;
  }

  .related-tile__author {
    color: $white-tile-text-color;
  }
}

.related-tile--blue {
  .related-tile__text-content {
    background-color: $blue-tile-background-color;
  }

  .related-tile__type {
    color: $blue-tile-type-color;
  }

  .related-tile__title {
    color: $blue-tile-text-color;
    font-weight: 200;
  }

  .related-tile__author {
    color: $blue-tile-text-color;
    font-weight: 200;
  }
}

.related-tile--orange {
  .related-tile__text-content {
    background-color: $orange-tile-background-color;
  }

  .related-tile__type {
    color: $orange-tile-type-color;
  }

  .related-tile__title {
    color: $orange-tile-text-color;
    font-weight: 200;
  }

  .related-tile__author {
    color: $orange-tile-text-color;
    font-weight: 200;
  }
}
