.related-articles {
  max-width: $max-container;
  margin: 0 auto;
}

.related-articles__title {
  color: #555555;
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 32px;
  padding-left: 16px;
  width: 300px;

  @include breakpoint($tablet) {
    margin-bottom: 48px;
  }
}
