.related-tile {
  background-color: $related-tile__background-color;
  border-bottom: 1px solid $related-tile__border-color;
  box-sizing: border-box;
  display: block;
  min-height: 130px;
  padding: 16px;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: darken($related-tile__background-color, 6%);
  }

  @include breakpoint($tablet-breakpoint) {
    border-bottom: none;
    border-right: 1px solid $related-tile__border-color;
    float: left;
    min-height: 160px;
    width: 33.33%;

    &:last-of-type {
      border-right: 0;
    }
  }
}

.related-tile__type {
  color: $related-tile__type-color;
  font-size: .8em;
  font-weight: 200;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 4px;

  &:after {
    content: "//"
  }
}

.related-tile__title {
  color: $related-tile__text-color;
  font-weight: 200;
  line-height: 1.3;
}
