.roles-tile {
  box-sizing: border-box;
  display: block;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    padding-left: 3px;
    padding-right: 3px;
    float: left;
    flex-grow: 1;
    flex-basis: 0;
    max-height: 100%;

    &:last-of-type {
      padding-right: 0px;
      padding-left: 3px;
    }

    &:first-of-type {
      padding-left: 0px;
      padding-right: 3px;
    }
  }
}

.roles-tile--linked {
  @extend .roles-tile;
  color: darken($light-gray, 5%);
  margin-bottom: 6px;
}

.roles-tile__content {
  background-color: $white;
  box-sizing: border-box;
  padding: 10px;

  &:hover {
    background-color: mix($white, $light-gray);
  }

  @include breakpoint($tablet-breakpoint) {
    padding: 20px $padding-h-main-desktop;
	min-height: 280px;
  }
}

.roles-tile__title {
  @include responsive-sub-title;
  color: $purple;
  padding: 14px 6px;
}

.roles-tile__paragraph {
  @include responsive-text;
  color: $dark-gray;
  padding: 6px 6px 6px;
  font-weight: 300;
  line-height: 1.4em;
}

.roles-tile__no-roles-paragraph {
  color: $dark-gray;
  padding-left: 15px;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 40px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 0;
  }
}

.roles-tile__fake-link {
  color: $purple;
  text-decoration: underline;
}
