.roles-tile {
  box-sizing: border-box;
  display: flex;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    padding-left: 3px;
    padding-right: 3px;
    float: left;
    flex-grow: 1;
    max-height: 100%;
  }
}

.roles-tile--linked {
  max-width: 100%;

  @include breakpoint($tablet-breakpoint) {
    padding-left: 3px;
    padding-right: 3px;
    float: left;
    flex-grow: 1;
    max-height: 100%;
    max-width: 50%;
  }

  @extend .roles-tile;
  color: darken($light-gray, 5%);
  margin-bottom: 6px;
}

.roles-tile__content {
  background-color: $white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 10px;

  &:hover {
    background-color: mix($white, $light-gray);
  }

  @include breakpoint($tablet-breakpoint) {
    padding: 20px $padding-h-main-desktop 30px;
  }
}

.roles-tile__title {
  @include responsive-sub-title;
  color: $purple;
  padding: 14px 6px;

  @include breakpoint($tablet-breakpoint) {
  	padding: 14px 0;
  }
}

.roles-tile__paragraph {
  @include responsive-text;
  color: $dark-gray;
  padding: 6px;
  font-weight: 300;

  @include breakpoint($tablet-breakpoint) {
  	padding: 6px 0;
  }
}

.roles-tile__no-roles-paragraph {
  color: $dark-gray;
  padding-left: 15px;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 40px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 0;
  }
}

.roles-tile__fake-link {
  color: $purple;
  text-decoration: underline;
}
