.roles {
  padding: 30px 0 0 0;

  @include breakpoint($tablet-breakpoint) {
    overflow: hidden;
    padding-top: 60px;
  }
}

.roles__title {
  @include responsive-title;
  color: $purple;
  font-weight: 300;
  padding: 0 20px 0 14px;
  margin-bottom: 20px;

  @include breakpoint($tablet-breakpoint) {
    margin-bottom: 50px;
    padding-left: 20px;
  }
}
