.services {
  background-color: $white;
  padding: 30px 0 30px 20px;

  @include breakpoint($tablet-breakpoint) {
    overflow: auto;
    padding: 20px ($padding-h-main-desktop - $gutter/2) 0;
  }
}

.services__opening {
  @include responsive-text;
  color: $dark-gray;
  font-weight: 300;
  margin-bottom: 20px;
  padding-right: 20px;

  @include breakpoint($tablet-breakpoint) {
    padding: 20px $gutter/2 0;
    margin-bottom: 50px;
  }
}

.services__title {
  @include responsive-title;
  color: $purple;
  font-weight: 300;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-top: 40px;

  @include breakpoint($tablet-breakpoint) {
  	padding: 40px $gutter/2 0;
    margin-bottom: 50px;
  }
}

.services-container__service {
  box-sizing: border-box;
  padding-right: 20px;
  margin-bottom: 40px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 33.33%;
	padding: 0 $gutter/2;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.services__introduction {
  @include responsive-text;
  color: $black;
  font-weight: 300;
  margin-bottom: 20px;
  padding-right: 20px;

  @include breakpoint($tablet-breakpoint) {
	padding: 20px $gutter/2 0;
    margin-bottom: 50px;
  }
}
