.services-page-service {
  @extend .service;

  @include breakpoint($tablet-breakpoint) {
    height: 350px;
  }
}

.services-page-text-tile {
  box-sizing: border-box;
  padding: 30px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding: 30px 20px 20px;
  }
  background-color: #f5f5f5;

}

.services-page-quote {
  @extend .quote;
  background-color: $purple;
}

.services-page-quote__text {
  @extend .quote__text;
  color: $white;
}

.services-page-quote__source {
  @extend .quote__source;
  color: $white;
}
