.showcase-tile {
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding-right: 0;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    width: 33.33%;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.showcase-tile__image {
  display: block;
  width: 100%;
}
