.site-footer-newsletter__introduction {
  @extend .site-footer__tile-title;
  padding-bottom: 8px;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 20px;
  }
}

.site-footer-newsletter__email {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  font-weight: 300;
  height: 40px;
  line-height: 1.3;
  margin-bottom: 8px;
  padding: 10px;
  width: 100%;

  &:focus {
    background-color: darken($white, 5%);
    outline: 0;
  }

  &.placeholder {
    color: #C0C0C0;
  }

  @include breakpoint($tablet-breakpoint) {
    width: 95%;
  }
}

.site-footer-newsletter__button {
  @extend .button;
  display: block;
  background-color: $dark-gray;
  border: 1px solid darken($white, 5%);
  color: darken($white, 5%);
  font-size: 1em;
  height: 40px;
  width: 100%;

  &:focus,
  &:hover {
    background-color: darken($white, 5%);
    color: $dark-gray;
    outline: 0;
  }

  @include breakpoint($tablet-breakpoint) {
    width: 95%;
  }
}

