.site-footer {
  background-color: $dark-gray;
}

.site-footer__container {
  @extend .container;
  box-sizing: border-box;
  color: $light-gray;
  font-size: 0.85em;
  padding: 30px 16px 25px;

  @include breakpoint($tablet-breakpoint) {
    max-width: $desktop-breakpoint;
    padding: 50px 0;
  }
}

.site-footer__tile {
  box-sizing: border-box;
  display: block;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 12px;
  width: 100%;

  @include breakpoint($tablet-breakpoint) {
    border-bottom: none;
    float: left;
    padding: 0 16px 40px;
    width: 33.33%;
  }
}

.site-footer__tile-title {
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 8px;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 20px;
  }
}

.site-footer__tile--last {
  @include breakpoint($tablet-breakpoint) {
    float: right;
  }
}

.site-footer__email-address,
.site-footer__site-links {
  display: block;
  color: inherit;
  text-decoration: underline;
}


.site-footer__site-links {
  padding-top: 10px;

  &:first-of-type {
    padding-top: 0;
  }
}

.site-footer__email-address {
  padding-bottom: 15px;
}
