.site-footer-social {
  border-top: solid 1px $medium-gray;
  clear: left;
  margin-left: 8px;
  margin-top: 8px;
  padding-top: 20px;
  text-align: center;

  @include breakpoint($tablet-breakpoint) {
    border-top: none;
    padding-top: 12px
  }
}
