.site-header {
  background-color: $site-header__background-color;
  position: fixed;
  width: 100%;
  z-index: 4;
  top: 0;
}

.site-header--active-scroll:before {
  border-bottom: 2px solid $site-header__underline-color;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
}

.site-header--blog {
  @extend .site-header;
  @extend .site-header--active-scroll;
}

.site-header__container {
  @extend %container;
}
