.site-link {
  background-color: $site-link-background-color;
  display: block;
  padding: 16px;
  text-decoration: none;

  @include breakpoint($tablet-breakpoint) {
    display: none;
  }
}

.site-link__type {
  color: $site-link-type-color;
  font-size: .8em;
  font-weight: 200;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 4px;

  &:after {
    content: "//"
  }
}

.site-link__text {
  color: $site-link-text-color;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.3;

  @include breakpoint($mobile-font-breakpoint) {
    font-size: 4.5vw;
  }

  @include breakpoint($max-mobile-container) {
    font-size: 1.3em;
  }
}
