.site-header {
  background-color: $site-header__background-color;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.site-header--active-scroll {
  border-bottom: 1px solid darken($light-gray, 10%);
}

.site-header__brand {
  @extend %container;
  box-sizing: border-box;
  padding: 16px 20px;
  text-align: right;
}

.site-header__link {
  color: $site-header__brand-color;
  font-family: 'Helvetica Neue', 'Open Sans', 'Helvetica', sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  text-decoration: none;
  text-transform: lowercase;

  @include breakpoint($tablet-breakpoint) {
    font-size: 2em;
  }
}
