.site-header {
  background-color: $header-background-color;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.site-header--active-scroll {
  border-bottom: 1px solid darken($light-gray, 10%);
}

.site-header__brand {
  @extend %container;
  box-sizing: border-box;
  padding: 16px 20px;
  text-align: right;
}

.site-header__link {
  color: $header-brand-color;
  font-size: 1.4em;
  font-weight: 800;
  text-decoration: none;
}
