.site-brand {
  @extend .container;
  box-sizing: border-box;
  padding: 16px 20px 10px;

  @include breakpoint($tablet-breakpoint) {
    float: left;
    padding: 16px 20px;
  }
}

.site-brand__link {
  color: $site-header__brand-color;
  font-family: 'Helvetica Neue', 'Open Sans', 'Helvetica', sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  text-decoration: none;
  text-transform: lowercase;

  @include breakpoint($desktop-breakpoint) {
    font-size: 2em;
  }
}
