.site-navigation {
  @extend %container;
  height: 37px;
  overflow: hidden;
  position: relative;
}

.site-navigation__scroll-hint {
  background: -webkit-gradient(linear, left top, right top,
                color-stop(0%, rgba(255,255,255,0)),
                color-stop(50%, rgba(255,255,255,1))
              );
  height: 37px;
  padding-left: 30px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  &:after {
    color: lighten($site-navigation__link-color, 40%);
    content: '›';
    font-size: 27px;
  }
}

.site-navigation__container {
  height: 54px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 10px;
  position: relative;
  white-space: nowrap;
}

.site-navigation__link {
  color: $site-navigation__link-color;
  display: inline-block;
  font-size: 0.9em;
  padding: 10px;
  position: relative;
  text-decoration: none;

  &:hover:before {
    border-bottom: 3px solid $site-navigation__underline-color--active;
    bottom: -3px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }

  &:last-of-type {
    margin-right: 35px;
  }
}

.site-navigation__link--active {
  color: $site-navigation__link-color--active;
  position: relative;

  &:before {
    border-bottom: 3px solid $site-navigation__underline-color--active;
    bottom: -3px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
}
