.site-brand {
  @include clearfix;
  @extend .container;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-right: 25px;
  transition: 1s;

  @include breakpoint($tablet-breakpoint) {
    padding-right: 20px;
  }

  @include breakpoint($desktop-breakpoint) {
    padding-right: 20px;
  }
}

.site-brand__right {
  float: right;
  transition: 1s;
}

.site-brand__link {
  float: right;
}

.site-brand__logo-image {
  float: right;
}
