.social-icons {
  border-top: solid 1px $medium-gray;
  margin-top: 8px;
  padding-top: 20px;
  text-align: center;

  @include breakpoint($tablet-breakpoint) {
    border-top: none;
    padding-top: 12px
  }
}

.social-icons__icon-container {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

%social-icons__icon--base {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  border-radius: 50%;
  height: 28px;
  text-align: center;
  width: 28px;
}

.social-icons__icon--twitter {
  @extend %social-icons__icon--base;
  background-color: #55ACEE;
}

.social-icons__icon--linkedin {
  @extend %social-icons__icon--base;
  background-color: #007AB6;
}

.social-icons__image {
  @include align-self(center);
  width: 16px;
}
