.social-icons {
  border-top: groove 1px;
  padding-top: 20px;
  text-align: center;

  @include breakpoint($tablet-breakpoint) {
    border-top: none;
    padding-top: 12px
  }
}

.social-icons__icon-container {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.social-icons__icon--twitter {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  background-color: $social-icon__twitter-color;
  border-radius: 50%;
  height: 28px;
  text-align: center;
  width: 28px;
}

.social-icons__icon--linkedin {
  @extend .social-icons__icon--twitter;
  background-color: $social-icon__linkedin-color;
}

.social-icons__image {
  @include align-self(center);
  width: 16px;
}
