.footer-social-icons {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  background-color: $footer-social-icons-background-color;
  box-sizing: border-box;
  height: 70px;
  padding: 16px;
  text-align: right;
}

.blog-social-icons {
  padding: 0 20px 10px;
  box-sizing: border-box;
  text-align: right;

  @include breakpoint($max-tablet-container) {
    max-width: $max-tablet-container;
    margin: 0 auto;
    padding-right: 40px;
  }
}

.social-icons__icon-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}

.social-icons__icon {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  background-color: $social-icon-background-color;
  border-radius: 50%;
  height: 28px;
  text-align: center;
  width: 28px;
}

.social-icons__image {
  @include align-self(center);
  width: 16px;
}
