.style-guide {
  @extend %container;
  background-color: $white;
  box-sizing: border-box;

  @include breakpoint($tablet-breakpoint) {
    // padding: 0 10px;
  }
}

.style-guide__title {
  font-size: 2.5em;
  padding: 60px 30px 30px;
}

.style-guide__container {
  width: 100%;
}

.style-guide__container-title {
  background-color: lighten($light-gray, 2%);
  border-bottom: 1px solid $light-gray;
  padding: 30px 30px 16px;
}

.style-guide__container-body {
  overflow: auto;
  padding-bottom: 30px;
}

.style-guide__container-body--blog {
  @extend .style-guide__container-body;
  padding: 30px;
}
