.style-guide {
  background-color: $white;
}

.style-guide__container-small {
  border: 2px solid;
  border-radius: 10px;
  border-color: $light-gray;
  box-sizing: border-box;
  padding: 30px;
  margin-bottom: 1px;
  width: 100%;
}

.style-guide__title {
  font-size: 2.5em;
  padding: 60px 30px 30px;
}

.style-guide-heading {
  color: $medium-purple;
  font-size: 2em;
}
