.team {
  background-color: $team-background-color;
  box-sizing: border-box;
  padding: 28px 20px 0;
  position: relative;
  min-height: 309px;
}

.team__title {
  color: $tile-title-color;
  font-size: 1.7em;
  font-weight: 100;
  line-height: 1.3;
  padding-bottom: 16px;
}

.team__paragraph {
  color: $tile-text-color;
  font-size: 1.05em;
  font-weight: 100;
  line-height: 1.3;
}

.team__image {
  display: block;
  width: 100%;
}
