.text-block {
  box-sizing: border-box;
  padding: 32px;

  @include breakpoint($tablet) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
  }
}

.text-block__title {
  color: #9F2D99;
  font-size: 1.7rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

.text-block__paragraph {
  color: #171717;
  font-weight: 100;
  line-height: 1.4;
}

.text-block__title--white,
.text-block__paragraph--white {
  color: #FFFFFF;
}
