.text-tile-quote {
  background-color: mix($white, $light-gray);
  @include clearfix;
}

.text-tile-quote__quote {
  box-sizing: border-box;
  padding: 30px 20px 30px 24px;
  background-color: mix($white, $light-gray);

  @include breakpoint($tablet-breakpoint) {
    padding: 30px 20px 20px 30px;
    min-height: 320px;
  }
}

.text-tile-quote__text {
  @include responsive-text;
  color: $dark-gray;
  font-weight: 300;
  line-height: 1.3;
  position: relative;
  quotes: "“" "”";

  &:before {
    content: open-quote;
    display: block;
    position: absolute;
    left: -8px;
  }

  &:after {
    content: close-quote;
  }

  @include breakpoint($tablet-breakpoint) {
    &:before {
      left: -10px;
    }
  }
}

.text-tile-quote__source {
  color: $purple;
  font-weight: 300;
  padding-top: 20px;
  line-height: 1.2em;

  @include breakpoint($tablet-breakpoint) {
    font-size: 1.96vw;
  }

  @include breakpoint($desktop-breakpoint) {
    font-size: 1.18em;
  }
}

.text-tile-quote__image {
  display: none;

  @include breakpoint($tablet-breakpoint) {
    display: block;
    float: left;
    width: 50%;
  }
}
