.text-tile {
  box-sizing: border-box;
  padding: 28px 20px;
  min-height: 309px;
}

.text-tile__title {
  color: $tile-title-color;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 1.3;
  padding-bottom: 16px;
}

.text-tile__large-paragraph {
  color: $tile-text-color;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.3;
}

.text-tile__paragraph {
  color: $tile-text-color;
  font-size: 1.05rem;
  font-weight: 100;
  line-height: 1.3;
}
