.text-tile {
  box-sizing: border-box;
  padding: 28px 20px;

  @include breakpoint($tablet-breakpoint) {
    padding: 30px 20px 20px 30px;
    min-height: 320px;
  }
}

.text-tile__title {
  @include responsive-title;
  color: $text-tile__title-color;
  font-weight: 100;
  line-height: 1.2;
  padding-bottom: 16px;
  text-transform: lowercase;

  @include breakpoint($tablet-breakpoint) {
    padding-bottom: 1.6vw;
  }

  @include breakpoint($desktop-breakpoint) {
    padding-bottom: 16px;
  }
}

.text-tile__paragraph {
  @include responsive-text;
  color: $text-tile__text-color;
  font-weight: 100;
  line-height: 1.3;
}

.text-tile__list {
  @include responsive-text;
  font-weight: 100;
  line-height: 1.3em;
  list-style: disc;
  padding-left: 20px;
}

.text-tile__list-item {
  padding-bottom: 7px;

  &:last-of-type {
    padding-bottom: 0;
  }
}
