.subtle-pop-up-animation {
  padding-top: 20px;
  animation-name: floating-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.subtle-pop-up-animation:hover {
  animation-name: floating-in;
}

@keyframes floating-in {
  from { transform: translate(0,  0px); }
  to { transform: translate(0, -15px); }
}

@keyframes floating-out {
  from { transform: translate(0, -15px); }
  to { transform: translate(0,  0px); }
}
