<div class="container--grid" data-tile-layout data-tile-gap="6">
  <%
    tiler = Tiler.new(columns: 3, rows: articles.size * 2)
    articles.each do |article|
      if article.data.weekly_roundup
        tiler.add_tile([article, 'blog_small_tile'])
      elsif article.data.main_image.to_s.empty?
        tiler.add_tile([article, 'blog_medium_tile'], width: 1, height: 2)
      else
        tiler.add_tile([article, 'blog_large_tile'], width: 2, height: 2)
      end
    end
    tiles = tiler.lay_tiles
    tiles.each.with_index do |row, row_idx|
      row.each.with_index do |article_tile, column_idx|
        next if article_tile == Tiler::NoTile
        next if article_tile.is_a? Tiler::LargeTileReference
        %>
          <%= partial article_tile.contents.last, locals: { article: article_tile.contents.first, row: row_idx, column: column_idx } %>
        <%
      end
    end
  %>
</div>
