<div class="container--grid" data-packery-target>
  <div class="blog-tile__grid-sizer"></div>
  <% articles.each do |article| %>
    <% if article.data.weekly_roundup %>
      <%= partial 'blog_small_tile', locals: { article: article } %>
    <% elsif article.data.main_image.to_s.empty? %>
      <%= partial 'blog_medium_tile', locals: { article: article } %>
    <% else %>
      <%= partial 'blog_large_tile', locals: { article: article } %>
    <% end %>
  <% end %>
</div>

<%= javascript_include_tag "packery.min" %>
<script>
  window.onload = function() {
    var packeryContainer = document.querySelector('[data-packery-target]');
    var packeryOptions = {
      transitionDuration: 0,
      percentPosition: true,
      itemSelector: '.blog-tile',
      columnWidth: '.blog-tile__grid-sizer'
    };

    if (typeof window.matchMedia != "undefined" || typeof window.msMatchMedia != "undefined") {
      var mq = matchMedia('(min-width: 660px)');
      var packery;

      if (mq.matches) {
        packery = new Packery(packeryContainer, packeryOptions);
      }

      mq.addListener(function(mql) {
        if (mql.matches) {
          packery = new Packery(packeryContainer, packeryOptions);
        } else {
          packery.destroy();
        }
      });
    }
  }
</script>

<!--[if IE 9]>
  <script>

    packery = new Packery(packeryContainer, packeryOptions);
    var packeryEnabled = true;

    window.onresize = function() {
      if (window.innerWidth >= 660 && !packeryEnabled) {
        packery = new Packery(packeryContainer, packeryOptions);
        packeryEnabled = true;
      } else if (window.innerWidth < 660 && packeryEnabled) {
        packery.destroy();
        packeryEnabled = false;
      }
    };

  </script>
<![endif]-->
