<a href="https://calendly.com/unboxed" class="book-meeting-bubble"
   onClick="ga('send', 'event', 'Traffic to Other Websites', 'Click', 'Book a Meeting on Calendly');"
   target="_blank">
  <span class="book-meeting-bubble__text">Book a meeting</span>
</a>
