<a href="https://calendly.com/unboxed" class="book-meeting-bubble"
   onClick="sendToGaBubbleCalendlyClickEvent()"
   target="_blank">
  <span class="book-meeting-bubble__text">Book a meeting</span>
</a>
<script>
  function sendToGaBubbleCalendlyClickEvent() {
      ga('send', 'event', 'Traffic to Other Websites', 'Click', 'Bubble Book a Meeting on Calendly', '1');  
  }
</script>
