<footer class="footer">
  <div class="footer__container">
    <div class="footer__tile">

      <a class="footer__email-address" href="mailto:hello@unboxed.co">
        hello@unboxed.co
      </a>

      <p class="footer-newsletter__introduction">
        Sign up to our newsletter
      </p>

      <%= partial 'newsletter', locals: { block_class: 'footer-newsletter' } %>
    </div>

    <div class="footer__tile">
      <a class="footer-address__city" href="http://goo.gl/maps/AuKrs" target="_blank">
        <i class="fa fa-map-marker footer-address__map-icon"></i>
        London office
      </a>

      <address class="footer-address__postal-address">
        17 Blossom Street<br>
        London, E1 6PL
      </address>

      <a class="footer-address__phone-number" href="tel:+442071834250">
        <i class="fa fa-phone footer-address__phone-icon"></i>
        +44 20 7183 4250
      </a>

      <div class="footer-address__company-registration">
        registered in England and Wales<br>
        05440833
      </div>
    </div>

    <div class="footer__tile">
      <a class="footer-address__city" href="http://goo.gl/maps/JkNC9" target="_blank">
        <i class="fa fa-map-marker footer-address__map-icon"></i>
        Cape Town office
      </a>

      <address class="footer-address__postal-address">
        303 Buchanan Chambers,<br>
        Cnr Pearce &amp; Warwick Street<br>
        Claremont, 7735
      </address>

      <a class="footer-address__phone-number" href="tel:+27216714503">
        <i class="fa fa-phone footer-address__phone-icon"></i>
        +27 21 671 4503
      </a>

      <div class="footer-address__company-registration">
        registered in South Africa<br>
        2010/004536/07
      </div>
    </div>

    <div class="social-icons">
      <a class="social-icons__icon-container" href="http://twitter.com/Ubxd" target="_blank">
        <div class="social-icons__icon--twitter">
          <%= image_tag 'twitter.png', class: 'social-icons__image', alt: 'Twitter' %>
        </div>
      </a>
      <a class="social-icons__icon-container" href="http://www.linkedin.com/company/unboxed-consulting" target="_blank">
        <div class="social-icons__icon--linkedin">
          <%= image_tag 'linkedin.png', class: 'social-icons__image', alt: 'LinkedIn' %>
        </div>
      </a>
    </div>
  </div>
</footer>
