<footer class="site-footer">
  <div class="site-footer__container">
    <div class="site-footer__tile">

      <a class="site-footer__email-address" href="mailto:hello@unboxed.co">
        hello@unboxed.co
      </a>

      <p class="site-footer-newsletter__introduction">
        Sign up to our newsletter
      </p>

      <%= partial 'newsletter', locals: { block_class: 'site-footer-newsletter' } %>
    </div>

    <div class="site-footer__tile site-footer__tile--last">
      <a class="site-footer-address__city" href="http://goo.gl/maps/AuKrs" target="_blank">
        <i class="fa fa-map-marker site-footer-address__map-icon"></i>
        <span>Unboxed</span>
      </a>

      <address class="site-footer-address__postal-address-london">
        17 Blossom Street<br>
        London, E1 6PL
      </address>

      <a class="site-footer-address__phone-number" href="tel:+442071834250">
        <i class="fa fa-phone site-footer-address__phone-icon"></i>
        +44 20 7183 4250
      </a>

      <div class="site-footer-address__company-registration">
        registered in England and Wales<br>
        05440833
      </div>
    </div>

    <div class="site-footer-social">
      <a class="social-icon__icon-container--twitter" href="https://twitter.com/Ubxd" target="_blank">
        <%= image_tag 'social-icon__twitter.png', class: 'social-icon__icon', alt: 'Twitter' %>
      </a>
      <a class="social-icon__icon-container--linkedin" href="https://www.linkedin.com/company/unboxed-consulting" target="_blank">
        <%= image_tag 'social-icon__linkedin.png', class: 'social-icon__icon', alt: 'LinkedIn' %>
      </a>
      <a class="social-icon__icon-container--github-reversed" href="https://github.com/unboxed" target="_blank">
        <%= image_tag 'social-icon__github-reversed.png', class: 'social-icon__icon', alt: 'GitHub' %>
      </a>
    </div>
  </div>
</footer>
