<div class="page-header">
  <div class="page-header__container">
    <div class="page-header__title">
      Blog
    </div>
  </div>
</div>

<div class="container container--blog" data-header-waypoint data-packery-target>
  <% blog.articles.each do |article| %>
    <% if article.data.weekly_roundup %>
      <%= partial 'blog_small_tile', locals: { article: article } %>
    <% elsif article.data.main_image %>
      <%= partial 'blog_large_tile', locals: { article: article } %>
    <% else %>
      <%= partial 'blog_medium_tile', locals: { article: article } %>
    <% end %>
  <% end %>
</div>

<script>

  if (Modernizr.matchmedia) {
    var mq = matchMedia('(min-width: 660px)');
    var $container = $('[data-packery-target]');
    var packeryOptions = {
      transitionDuration: 0,
      percentPosition: true,
      itemSelector: '.blog-tile',
      columnWidth: '.blog-small-tile'
    };

    if (mq.matches) {
      $container.packery(packeryOptions);
    }

    mq.addListener(function(mql) {
      if (mql.matches) {
        $container.packery(packeryOptions);
      } else {
        $container.packery('destroy');
      }
    });
  }
</script>
