<div class="blog-header">
  <div class="blog-header__container">
    <div class="blog-header__title">
      Blog
    </div>
  </div>
</div>

<%= partial 'blog_grid', locals: { articles: blog.articles } %>
