---
title: "Blog"
meta_description: "Discussion into web app development, design, UX, Agile and project management techniques from the Unboxed team."
---
<% content_for(:meta_keywords) { "unboxed consulting, news, technical, web, development, marketing, graphic design, Unboxed, Ruby on Rails, Blog, #{data.tags.join(', ')}" } %>
<% add_atom_feed_to_head %>

<header class="blog-header">
  <div class="blog-header__container">
    <h1 class="blog-header__page-title">
      Blog
    </h1>
  </div>
</header>

<div class="blog-grid-tags">
  <div class="blog-tags">
    <div class="blog-tags__container">
      <% data.tags.each do |tag| %>
        <a class="blog-tags__tag" href="<%= tag_path(tag, :blog) %>"><%= tag %></a>
      <% end %>
    </div>
  </div>
</div>

<%= partial 'blog_grid', locals: { articles: blog(:blog).articles } %>
