---
title: "Blog"
---

<% add_atom_feed_to_head %>
<div class="blog-header">
  <div class="blog-header__container">
    <div class="blog-header__title">
      Blog
    </div>
  </div>
</div>

<div class="blog-grid-tags">
  <div class="blog-tags">
    <div class="blog-tags__container">
      <% data.tags.each do |tag| %>
        <a class="blog-tags__tag" href="<%= tag_path(tag) %>"><%= tag %></a>
      <% end %>
    </div>
  </div>
</div>

<%= partial 'blog_grid', locals: { articles: blog.articles } %>
