---
---

/ Images must be under 340px height. Text content can stretch the images to higher than 340px to fit the text in
= partial '/components/image', locals: { image_url: lorem.image('300x400') }
= partial '/components/image_text', locals: { title: lorem.sentence, paragraph: lorem.paragraph, image: lorem.image('200x340') }
= partial '/components/text_image', locals: { title: lorem.sentence, paragraph: lorem.paragraph, image: lorem.image('500x340') }
= partial '/components/text_icons', locals: { \
  title: lorem.sentence,
  paragraph: lorem.paragraph,
  icons: [ \
    { text: lorem.words(3), image: lorem.image('128x128') },
    { text: lorem.words(3), image: lorem.image('128x128') },
    { text: lorem.words(3), image: lorem.image('128x128') },
    { text: lorem.words(3), image: lorem.image('128x128') },
    { text: lorem.words(3), image: lorem.image('128x128') },
    { text: lorem.words(3), image: lorem.image('128x128') } \
  ] }
