<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__introduction">
      Cookie policy
    </h1>
  </div>
</header>

<div class="container" data-header-waypoint>
  <section class="component">
    <div class="text-tile--full-width">
      <p class="text-tile__paragraph--with-spacing">
        A cookie is a piece of data stored locally on your computer and contains information about your activities on the Internet. On our website, we use cookies to track user's progress through the site, allowing us to make improvements based on usage data. The information in a cookie does not contain any personally identifiable information you submit to our site.
      </p>
      <p class="text-tile__paragraph--with-spacing">
        Once you close your browser, our access to the cookie terminates. You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. To change your browser settings you should go to your advanced preferences.
      </p>
    </div>
  </section>
</div>
