---
title: "People"
---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.title %>
    </h1>
  </div>
</header>

<div class="container--grid" data-header-waypoint>
  <% data.people.each do |person| %>
    <div class="person-tile">
      <div class="person-tile__content">
        <h2 class="person-tile__name">
          <%= person.name %>
        </h2>
      </div>
    </div>
  <% end %>
</div>

