---
title: "Style guide"
---

<div class="style-guide">
  <h2 class="style-guide__title">Product stories</h2>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story text with image tile
    </div>
    <div class="style-guide__container-body">
      <%= partial 'product-stories/text_tile', locals: {
        section: OpenStruct.new({
          title: "Lorem ipsum dolor sit amet",
          content: "Consectetur adipisicing elit. Consequuntur sed aliquam vero repellendus impedit qui. Quia labore, quibusdam soluta, corrupti dolor deleniti voluptatum corporis quidem vero, beatae eius voluptatem quod!",
          image: "http://placehold.it/480x463"
        })
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story full image
    </div>
    <div class="style-guide__container-body">
      <%= partial 'product-stories/full_image', locals: {
        section: OpenStruct.new({
          image: "http://placehold.it/960x480",
          image_description: "Placehold.it"
        })
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story list with image tile
    </div>
    <div class="style-guide__container-body">
      <%= partial 'product-stories/text_tile', locals: {
        section: OpenStruct.new({
          title: "Lorem ipsum dolor sit amet",
          content: [
            "Consectetur adipisicing elit.",
            "Consequuntur sed aliquam vero repellendus impedit qui.",
            "Quia labore, quibusdam soluta, corrupti dolor deleniti voluptatum",
            "Corporis quidem vero, beatae eius voluptatem quod!"
          ],
          image: "http://placehold.it/480x463"
        })
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story quote
    </div>
    <div class="style-guide__container-body">
      <%= partial 'product-stories/quote', locals: {
        section: OpenStruct.new({
          quote: "Consectetur adipisicing elit. Consequuntur sed aliquam vero repellendus impedit qui. Quia labore, quibusdam soluta, corrupti dolor deleniti voluptatum corporis quidem vero, beatae eius voluptatem quod!",
          source: "Lorem ipsum"
        })
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story highlight section
    </div>
    <div class="style-guide__container-body">
      <div class="highlight--sh24">
        <h2 class="highlight__title">
          Lorem ipsum dolor sit amet
        </h2>

        <ul class="highlight__list">
          <li class="highlight__list-item">
            Perspiciatis sapiente beatae eos.
          </li>
          <li class="highlight__list-item">
            Officiis incidunt nobis dicta
          </li>
          <li class="highlight__list-item">
            Tempora provident aliquam cumque
          </li>
          <li class="highlight__list-item">
            Obcaecati nisi
          </li>
          <li class="highlight__list-item">
            Amet doloribus nemo minima
          </li>
          <li class="highlight__list-item">
            Veniam ipsa qui in.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story related tile
    </div>
    <div class="style-guide__container-body">
      <div class="related-tile">
        <img class="related-tile__image" src="http://placehold.it/320x150" alt="">
        <div class="related-tile__text-content">
          <div>
            <div class="related-tile__type">
              Nulla modi
            </div>
            <div class="related-tile__title">
              Illum sed nemo ut ea necessitatibus sunt consectetur.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="style-guide__title">Blog</h2>

  <div class="blog-content">
    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Headings
      </div>
      <div class="style-guide__container-body--blog">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Paragraphs
      </div>
      <div class="style-guide__container-body--blog">
        <p>This is a paragraph</p>
        <p><strong>Bold paragraph</strong></p>
        <p><em>Italic paragraph</em></p>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Ordered lists
      </div>
      <div class="style-guide__container-body--blog">
        <ol>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ol>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Unordered lists
      </div>
      <div class="style-guide__container-body--blog">
        <ul>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ul>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Links
      </div>
      <div class="style-guide__container-body--blog">
        <p><a href="#">This is how links look like</a></p>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Quotes
      </div>
      <div class="style-guide__container-body--blog">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, vis enim delenit contentiones eu, sed fabulas lobortis sententiae ex. Et vel
          novum maiestatis omittantur, has ut agam ullamcorper, ex mea appareat insolens complectitur. Has postea euripidis
          voluptatum at. Ex eros graecis vis, an pro utamur lobortis pericula, his cetero voluptatibus id. Pro ea prompta
          temporibus, te cum fugit platonem. Utroque mediocrem comprehensam ea eam</p>
        </blockquote>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Inline code
      </div>
      <div class="style-guide__container-body--blog">
        <code>this</code> is some inline code
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Code block
      </div>
      <div class="style-guide__container-body--blog">
        <pre>
          <code>
if false
  puts "nope"
end</code>
        </pre>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Tables
      </div>
      <div class="style-guide__container-body--blog">
        <table>
          <tr>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Images
      </div>
      <div class="style-guide__container-body">
        <img src="http://bit.ly/1EZGYec" alt="Image1">
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Embedded content - Twitter
      </div>
      <div class="style-guide__container-body">
        <blockquote class="twitter-tweet tw-align-center"><p>Don&#39;t rush to beta. But don&#39;t dillydally in alpha. Happy medium. 8 weeks intense alpha to de-risk <a href="https://twitter.com/hashtag/gettobeta?src=hash">#gettobeta</a> <a href="https://twitter.com/hashtag/agile?src=hash">#agile</a></p>&mdash; Carrie Bedingfield (@CBedingfield) <a href="https://twitter.com/CBedingfield/status/540178309121056768">December 3, 2014</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Embedded content - Soundcloud
      </div>
      <div class="style-guide__container-body">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/180081375&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Embedded content - Slideshare
      </div>
      <div class="style-guide__container-body">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/mDLtOGAzSXeFdz" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/UBXD/brain-funding-melissa-sabella" title="Brain funding - Melissa Sabella" target="_blank">Brain funding - Melissa Sabella</a> </strong> from <strong><a href="//www.slideshare.net/UBXD" target="_blank">Unboxed Consulting</a></strong> </div>
      </div>
    </div>
  </div>
</div>
